/* Lists
-------------------------------------------------- */

.list-spaced {
    margin: 0;
    li {
        padding: 3px 0;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}