/* Panel
-------------------------------------------------- */
.panel-condensed {
    & > .panel-heading {
        padding: 5px 10px;
    }
    .panel-title {
        font-size: 13px;
        font-weight: bold;
    }

    & table thead th {
        font-size: 10px;
        padding: 3px 10px;
    }

    & table tbody td {
        font-size: 11px;
        padding: 5px 10px;

        .pumicon {
            font-size: 14px;
        }
    }
}

.panel .panel-control {
    font-size: 20px;
    line-height: 1.9;
    padding: 0 0.75%;
    border: none;

    &:hover {
        text-decoration: none;
    }
}

.panel-hidden-footer {
    .panel-footer {
        display: none;
    }

    &:hover .panel-footer {
        display: block;
    }
}

.panel-toolbar-footer {
    .panel-footer {
        padding: 5px 10px;

        & > * {
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }

        &:hover > * {
            opacity: 0.9;
        }
    }

}
