{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "seo" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Seo', null, null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_seo_schema_edit'),
                text: 'Seo'
            },
            {
                text: 'Managing Seo'
            }
        ]) }}
    </div>


    <div class="row">
        <div class="col-sm-12 col-offset-auto">
            {{ pum_macros.alertMessages() }}

            {{form(form)}}
        </div>
    </div>
{% endblock %}
