<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'PUM - Woodwork' %}</title>
    </head>
    <body>
        <h1>Woodwork</h1>
        <hr />
        {% block content '' %}
        <hr />
    </body>
</html>
