<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'PUM - Woodwork' %}</title>
        {% stylesheets filter="cssrewrite" combine=true output="css/all.css"
            "vendor/bootstrap/css/bootstrap.css"
        %}
            <link rel="stylesheet" href="{{ asset(asset_url) }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Woodwork</a>
                    <ul class="nav">
                        <li class="active"><a href="{{ path('ww_homepage') }}">Homepage</a></li>
                    </ul>
                </div>
            </div>
            {% block content '' %}
            {% javascripts combine=true output="js/all.js"
                "vendor/jquery/jquery.1.10.2.js"
                "source/js/collection.js"
                "source/js/field-definition-types.js"
            %}
                <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
            {% endjavascripts %}
            {% block javascript '' %}
        </div>
    </body>
</html>
