{% macro section_title(title, description, small) %}
    <h1 class="pum-view_title pum-scheme-text_colored">
        {{ title }}
        {% if small is defined and small != '' %}
            <small>{{ small }}</small>
        {% endif %}
    </h1>
    {% if description is defined and description != '' %}
        <small class="text-muted">{{ description }}</small>
    {% endif %}
{% endmacro %}
