/* Login
-------------------------------------------------- */
.pum-login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -195px 0 0 -155px;
    padding: 40px;
    width: 310px;
    min-height: 390px;
    border: 1px solid #EEE;
    border-radius: 2px;
    background-color: #FEFEFE;
}