{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = 'beams' %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('ww.beams.clone.title'|trans({}, 'pum'), null, '', [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_beam_list'),
                text: 'ww.beams.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'ww.beams.clone.description'|trans({ '%name%':'<strong>' ~ beam.name|pum_ucfirst ~ '</strong>' }, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-4 col-offset-auto">
        	{{form(form)}}
        </div>
    </div>

{% endblock %}
