{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active ='beams' %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Create a Beam') }}
    </div>
    <div class="row">
        <div class="col-lg-6 col-offset-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

