{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}
	<h2>
	        Beams &raquo; new Beam
	        <div class="btn-group pull-right">
	            <a class="btn" href="{{ path('ww_beam_list') }}"><i class="icon-chevron-left"></i>Back to Beams</a>
	        </div>
	</h2>
	{{form(form)}}
</table>
{% endblock %}