{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active ='beams' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('ww_homepage') }}">Homepage</a><span class="divider">/</span></li>
        <li><a href="{{ path('ww_beam_list') }}">Beams</a> <span class="divider">/</span></li>
        <li class="active">New beam</li>
    </ul>
    <h3>Create a new beam</h3>
    {{ form(form) }}
{% endblock %}

