@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'pumicon';
    src:url('../fonts/pumicon.eot');
    src:url('../fonts/pumicon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pumicon.woff') format('woff'),
        url('../fonts/pumicon.ttf') format('truetype'),
        url('../fonts/pumicon.svg#pumicon') format('svg');
}

// Use the following CSS code if you want to use data attributes for inserting your icons
[data-icon]:before {
    content: attr(data-icon);
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'pumicon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

// Use the following CSS code if you want to have a class per icon

// Instead of a list of all class selectors,
// you can use the generic selector below, but it's slower:
// [class*="pumicon-"] {

.pumicon {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'pumicon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    // outline: 3px solid red;
}
.pumicon-cms:before {
    content: "\e600";
}
.pumicon-home:before {
    content: "\e601";
}
.pumicon-home2:before {
    content: "\e602";
}
.pumicon-home3:before {
    content: "\e603";
}
.pumicon-office:before {
    content: "\e604";
}
.pumicon-newspaper:before {
    content: "\e605";
}
.pumicon-pencil:before {
    content: "\e606";
}
.pumicon-pencil2:before {
    content: "\e607";
}
.pumicon-quill:before {
    content: "\e608";
}
.pumicon-pen:before {
    content: "\e609";
}
.pumicon-blog:before {
    content: "\e60a";
}
.pumicon-droplet:before {
    content: "\e60b";
}
.pumicon-paint-format:before {
    content: "\e60c";
}
.pumicon-image:before {
    content: "\e60d";
}
.pumicon-image2:before {
    content: "\e60e";
}
.pumicon-images:before {
    content: "\e60f";
}
.pumicon-camera:before {
    content: "\e610";
}
.pumicon-music:before {
    content: "\e611";
}
.pumicon-headphones:before {
    content: "\e612";
}
.pumicon-play:before {
    content: "\e613";
}
.pumicon-film:before {
    content: "\e614";
}
.pumicon-camera2:before {
    content: "\e615";
}
.pumicon-dice:before {
    content: "\e616";
}
.pumicon-pacman:before {
    content: "\e617";
}
.pumicon-spades:before {
    content: "\e618";
}
.pumicon-clubs:before {
    content: "\e619";
}
.pumicon-diamonds:before {
    content: "\e61a";
}
.pumicon-pawn:before {
    content: "\e61b";
}
.pumicon-bullhorn:before {
    content: "\e61c";
}
.pumicon-connection:before {
    content: "\e61d";
}
.pumicon-podcast:before {
    content: "\e61e";
}
.pumicon-feed:before {
    content: "\e61f";
}
.pumicon-book:before {
    content: "\e620";
}
.pumicon-books:before {
    content: "\e621";
}
.pumicon-library:before {
    content: "\e622";
}
.pumicon-file:before {
    content: "\e623";
}
.pumicon-profile:before {
    content: "\e624";
}
.pumicon-file2:before {
    content: "\e625";
}
.pumicon-file3:before {
    content: "\e626";
}
.pumicon-file4:before {
    content: "\e627";
}
.pumicon-copy:before {
    content: "\e628";
}
.pumicon-copy2:before {
    content: "\e629";
}
.pumicon-copy3:before {
    content: "\e62a";
}
.pumicon-paste:before {
    content: "\e62b";
}
.pumicon-paste2:before {
    content: "\e62c";
}
.pumicon-paste3:before {
    content: "\e62d";
}
.pumicon-stack:before {
    content: "\e62e";
}
.pumicon-folder:before {
    content: "\e62f";
}
.pumicon-folder-open:before {
    content: "\e630";
}
.pumicon-tag:before {
    content: "\e631";
}
.pumicon-tags:before {
    content: "\e632";
}
.pumicon-barcode:before {
    content: "\e633";
}
.pumicon-qrcode:before {
    content: "\e634";
}
.pumicon-ticket:before {
    content: "\e635";
}
.pumicon-cart:before {
    content: "\e636";
}
.pumicon-cart2:before {
    content: "\e637";
}
.pumicon-cart3:before {
    content: "\e638";
}
.pumicon-coin:before {
    content: "\e639";
}
.pumicon-credit:before {
    content: "\e63a";
}
.pumicon-calculate:before {
    content: "\e63b";
}
.pumicon-support:before {
    content: "\e63c";
}
.pumicon-phone:before {
    content: "\e63d";
}
.pumicon-phone-hang-up:before {
    content: "\e63e";
}
.pumicon-address-book:before {
    content: "\e63f";
}
.pumicon-notebook:before {
    content: "\e640";
}
.pumicon-envelope:before {
    content: "\e641";
}
.pumicon-pushpin:before {
    content: "\e642";
}
.pumicon-location:before {
    content: "\e643";
}
.pumicon-location2:before {
    content: "\e644";
}
.pumicon-compass:before {
    content: "\e645";
}
.pumicon-map:before {
    content: "\e646";
}
.pumicon-map2:before {
    content: "\e647";
}
.pumicon-history:before {
    content: "\e648";
}
.pumicon-clock:before {
    content: "\e649";
}
.pumicon-clock2:before {
    content: "\e64a";
}
.pumicon-alarm:before {
    content: "\e64b";
}
.pumicon-alarm2:before {
    content: "\e64c";
}
.pumicon-bell:before {
    content: "\e64d";
}
.pumicon-stopwatch:before {
    content: "\e64e";
}
.pumicon-calendar:before {
    content: "\e64f";
}
.pumicon-calendar2:before {
    content: "\e650";
}
.pumicon-print:before {
    content: "\e651";
}
.pumicon-keyboard:before {
    content: "\e652";
}
.pumicon-screen:before {
    content: "\e653";
}
.pumicon-laptop:before {
    content: "\e654";
}
.pumicon-mobile:before {
    content: "\e655";
}
.pumicon-mobile2:before {
    content: "\e656";
}
.pumicon-tablet:before {
    content: "\e657";
}
.pumicon-tv:before {
    content: "\e658";
}
.pumicon-cabinet:before {
    content: "\e659";
}
.pumicon-drawer:before {
    content: "\e65a";
}
.pumicon-drawer2:before {
    content: "\e65b";
}
.pumicon-drawer3:before {
    content: "\e65c";
}
.pumicon-box-add:before {
    content: "\e65d";
}
.pumicon-box-remove:before {
    content: "\e65e";
}
.pumicon-download:before {
    content: "\e65f";
}
.pumicon-upload:before {
    content: "\e660";
}
.pumicon-disk:before {
    content: "\e661";
}
.pumicon-storage:before {
    content: "\e662";
}
.pumicon-undo:before {
    content: "\e663";
}
.pumicon-redo:before {
    content: "\e664";
}
.pumicon-flip:before {
    content: "\e665";
}
.pumicon-flip2:before {
    content: "\e666";
}
.pumicon-undo2:before {
    content: "\e667";
}
.pumicon-redo2:before {
    content: "\e668";
}
.pumicon-forward:before {
    content: "\e669";
}
.pumicon-reply:before {
    content: "\e66a";
}
.pumicon-bubble:before {
    content: "\e66b";
}
.pumicon-bubbles:before {
    content: "\e66c";
}
.pumicon-bubbles2:before {
    content: "\e66d";
}
.pumicon-bubble2:before {
    content: "\e66e";
}
.pumicon-bubbles3:before {
    content: "\e66f";
}
.pumicon-bubbles4:before {
    content: "\e670";
}
.pumicon-user:before {
    content: "\e671";
}
.pumicon-users:before {
    content: "\e672";
}
.pumicon-user2:before {
    content: "\e673";
}
.pumicon-users2:before {
    content: "\e674";
}
.pumicon-user3:before {
    content: "\e675";
}
.pumicon-user4:before {
    content: "\e676";
}
.pumicon-quotes-left:before {
    content: "\e677";
}
.pumicon-busy:before {
    content: "\e678";
}
.pumicon-spinner:before {
    content: "\e679";
}
.pumicon-spinner2:before {
    content: "\e67a";
}
.pumicon-spinner3:before {
    content: "\e67b";
}
.pumicon-spinner4:before {
    content: "\e67c";
}
.pumicon-spinner5:before {
    content: "\e67d";
}
.pumicon-spinner6:before {
    content: "\e67e";
}
.pumicon-binoculars:before {
    content: "\e67f";
}
.pumicon-search:before {
    content: "\e680";
}
.pumicon-zoom-in:before {
    content: "\e681";
}
.pumicon-zoom-out:before {
    content: "\e682";
}
.pumicon-expand:before {
    content: "\e683";
}
.pumicon-contract:before {
    content: "\e684";
}
.pumicon-expand2:before {
    content: "\e685";
}
.pumicon-contract2:before {
    content: "\e686";
}
.pumicon-key:before {
    content: "\e687";
}
.pumicon-key2:before {
    content: "\e688";
}
.pumicon-lock:before {
    content: "\e689";
}
.pumicon-lock2:before {
    content: "\e68a";
}
.pumicon-unlocked:before {
    content: "\e68b";
}
.pumicon-wrench:before {
    content: "\e68c";
}
.pumicon-settings:before {
    content: "\e68d";
}
.pumicon-equalizer:before {
    content: "\e68e";
}
.pumicon-cog:before {
    content: "\e68f";
}
.pumicon-cogs:before {
    content: "\e690";
}
.pumicon-cog2:before {
    content: "\e691";
}
.pumicon-hammer:before {
    content: "\e692";
}
.pumicon-wand:before {
    content: "\e693";
}
.pumicon-aid:before {
    content: "\e694";
}
.pumicon-bug:before {
    content: "\e695";
}
.pumicon-pie:before {
    content: "\e696";
}
.pumicon-stats:before {
    content: "\e697";
}
.pumicon-bars:before {
    content: "\e698";
}
.pumicon-bars2:before {
    content: "\e699";
}
.pumicon-gift:before {
    content: "\e69a";
}
.pumicon-trophy:before {
    content: "\e69b";
}
.pumicon-glass:before {
    content: "\e69c";
}
.pumicon-mug:before {
    content: "\e69d";
}
.pumicon-food:before {
    content: "\e69e";
}
.pumicon-leaf:before {
    content: "\e69f";
}
.pumicon-rocket:before {
    content: "\e6a0";
}
.pumicon-meter:before {
    content: "\e6a1";
}
.pumicon-meter2:before {
    content: "\e6a2";
}
.pumicon-dashboard:before {
    content: "\e6a3";
}
.pumicon-hammer2:before {
    content: "\e6a4";
}
.pumicon-fire:before {
    content: "\e6a5";
}
.pumicon-lab:before {
    content: "\e6a6";
}
.pumicon-magnet:before {
    content: "\e6a7";
}
.pumicon-remove:before {
    content: "\e6a8";
}
.pumicon-remove2:before {
    content: "\e6a9";
}
.pumicon-briefcase:before {
    content: "\e6aa";
}
.pumicon-airplane:before {
    content: "\e6ab";
}
.pumicon-truck:before {
    content: "\e6ac";
}
.pumicon-road:before {
    content: "\e6ad";
}
.pumicon-accessibility:before {
    content: "\e6ae";
}
.pumicon-target:before {
    content: "\e6af";
}
.pumicon-shield:before {
    content: "\e6b0";
}
.pumicon-lightning:before {
    content: "\e6b1";
}
.pumicon-switch:before {
    content: "\e6b2";
}
.pumicon-power-cord:before {
    content: "\e6b3";
}
.pumicon-signup:before {
    content: "\e6b4";
}
.pumicon-list:before {
    content: "\e6b5";
}
.pumicon-list2:before {
    content: "\e6b6";
}
.pumicon-numbered-list:before {
    content: "\e6b7";
}
.pumicon-menu:before {
    content: "\e6b8";
}
.pumicon-menu2:before {
    content: "\e6b9";
}
.pumicon-tree:before {
    content: "\e6ba";
}
.pumicon-cloud:before {
    content: "\e6bb";
}
.pumicon-cloud-download:before {
    content: "\e6bc";
}
.pumicon-cloud-upload:before {
    content: "\e6bd";
}
.pumicon-download2:before {
    content: "\e6be";
}
.pumicon-upload2:before {
    content: "\e6bf";
}
.pumicon-download3:before {
    content: "\e6c0";
}
.pumicon-upload3:before {
    content: "\e6c1";
}
.pumicon-globe:before {
    content: "\e6c2";
}
.pumicon-earth:before {
    content: "\e6c3";
}
.pumicon-link:before {
    content: "\e6c4";
}
.pumicon-flag:before {
    content: "\e6c5";
}
.pumicon-attachment:before {
    content: "\e6c6";
}
.pumicon-eye:before {
    content: "\e6c7";
}
.pumicon-eye-blocked:before {
    content: "\e6c8";
}
.pumicon-eye2:before {
    content: "\e6c9";
}
.pumicon-bookmark:before {
    content: "\e6ca";
}
.pumicon-bookmarks:before {
    content: "\e6cb";
}
.pumicon-brightness-medium:before {
    content: "\e6cc";
}
.pumicon-brightness-contrast:before {
    content: "\e6cd";
}
.pumicon-contrast:before {
    content: "\e6ce";
}
.pumicon-star:before {
    content: "\e6cf";
}
.pumicon-star2:before {
    content: "\e6d0";
}
.pumicon-star3:before {
    content: "\e6d1";
}
.pumicon-heart:before {
    content: "\e6d2";
}
.pumicon-heart2:before {
    content: "\e6d3";
}
.pumicon-heart-broken:before {
    content: "\e6d4";
}
.pumicon-thumbs-up:before {
    content: "\e6d5";
}
.pumicon-thumbs-up2:before {
    content: "\e6d6";
}
.pumicon-happy:before {
    content: "\e6d7";
}
.pumicon-happy2:before {
    content: "\e6d8";
}
.pumicon-smiley:before {
    content: "\e6d9";
}
.pumicon-smiley2:before {
    content: "\e6da";
}
.pumicon-tongue:before {
    content: "\e6db";
}
.pumicon-tongue2:before {
    content: "\e6dc";
}
.pumicon-sad:before {
    content: "\e6dd";
}
.pumicon-sad2:before {
    content: "\e6de";
}
.pumicon-wink:before {
    content: "\e6df";
}
.pumicon-wink2:before {
    content: "\e6e0";
}
.pumicon-grin:before {
    content: "\e6e1";
}
.pumicon-grin2:before {
    content: "\e6e2";
}
.pumicon-cool:before {
    content: "\e6e3";
}
.pumicon-cool2:before {
    content: "\e6e4";
}
.pumicon-angry:before {
    content: "\e6e5";
}
.pumicon-angry2:before {
    content: "\e6e6";
}
.pumicon-evil:before {
    content: "\e6e7";
}
.pumicon-evil2:before {
    content: "\e6e8";
}
.pumicon-shocked:before {
    content: "\e6e9";
}
.pumicon-shocked2:before {
    content: "\e6ea";
}
.pumicon-confused:before {
    content: "\e6eb";
}
.pumicon-confused2:before {
    content: "\e6ec";
}
.pumicon-neutral:before {
    content: "\e6ed";
}
.pumicon-neutral2:before {
    content: "\e6ee";
}
.pumicon-wondering:before {
    content: "\e6ef";
}
.pumicon-wondering2:before {
    content: "\e6f0";
}
.pumicon-point-up:before {
    content: "\e6f1";
}
.pumicon-point-right:before {
    content: "\e6f2";
}
.pumicon-point-down:before {
    content: "\e6f3";
}
.pumicon-point-left:before {
    content: "\e6f4";
}
.pumicon-warning:before {
    content: "\e6f5";
}
.pumicon-notification:before {
    content: "\e6f6";
}
.pumicon-question:before {
    content: "\e6f7";
}
.pumicon-info:before {
    content: "\e6f8";
}
.pumicon-info2:before {
    content: "\e6f9";
}
.pumicon-blocked:before {
    content: "\e6fa";
}
.pumicon-cancel-circle:before {
    content: "\e6fb";
}
.pumicon-checkmark-circle:before {
    content: "\e6fc";
}
.pumicon-spam:before {
    content: "\e6fd";
}
.pumicon-close:before {
    content: "\e6fe";
}
.pumicon-checkmark:before {
    content: "\e6ff";
}
.pumicon-checkmark2:before {
    content: "\e700";
}
.pumicon-spell-check:before {
    content: "\e701";
}
.pumicon-minus:before {
    content: "\e702";
}
.pumicon-plus:before {
    content: "\e703";
}
.pumicon-enter:before {
    content: "\e704";
}
.pumicon-exit:before {
    content: "\e705";
}
.pumicon-play2:before {
    content: "\e706";
}
.pumicon-pause:before {
    content: "\e707";
}
.pumicon-stop:before {
    content: "\e708";
}
.pumicon-backward:before {
    content: "\e709";
}
.pumicon-forward2:before {
    content: "\e70a";
}
.pumicon-play3:before {
    content: "\e70b";
}
.pumicon-pause2:before {
    content: "\e70c";
}
.pumicon-stop2:before {
    content: "\e70d";
}
.pumicon-backward2:before {
    content: "\e70e";
}
.pumicon-forward3:before {
    content: "\e70f";
}
.pumicon-first:before {
    content: "\e710";
}
.pumicon-last:before {
    content: "\e711";
}
.pumicon-previous:before {
    content: "\e712";
}
.pumicon-next:before {
    content: "\e713";
}
.pumicon-eject:before {
    content: "\e714";
}
.pumicon-volume-high:before {
    content: "\e715";
}
.pumicon-volume-medium:before {
    content: "\e716";
}
.pumicon-volume-low:before {
    content: "\e717";
}
.pumicon-volume-mute:before {
    content: "\e718";
}
.pumicon-volume-mute2:before {
    content: "\e719";
}
.pumicon-volume-increase:before {
    content: "\e71a";
}
.pumicon-volume-decrease:before {
    content: "\e71b";
}
.pumicon-loop:before {
    content: "\e71c";
}
.pumicon-loop2:before {
    content: "\e71d";
}
.pumicon-loop3:before {
    content: "\e71e";
}
.pumicon-shuffle:before {
    content: "\e71f";
}
.pumicon-arrow-up-left:before {
    content: "\e720";
}
.pumicon-arrow-up:before {
    content: "\e721";
}
.pumicon-arrow-up-right:before {
    content: "\e722";
}
.pumicon-arrow-right:before {
    content: "\e723";
}
.pumicon-arrow-down-right:before {
    content: "\e724";
}
.pumicon-arrow-down:before {
    content: "\e725";
}
.pumicon-arrow-down-left:before {
    content: "\e726";
}
.pumicon-arrow-left:before {
    content: "\e727";
}
.pumicon-arrow-up-left2:before {
    content: "\e728";
}
.pumicon-arrow-up2:before {
    content: "\e729";
}
.pumicon-arrow-up-right2:before {
    content: "\e72a";
}
.pumicon-arrow-right2:before {
    content: "\e72b";
}
.pumicon-arrow-down-right2:before {
    content: "\e72c";
}
.pumicon-arrow-down2:before {
    content: "\e72d";
}
.pumicon-arrow-down-left2:before {
    content: "\e72e";
}
.pumicon-arrow-left2:before {
    content: "\e72f";
}
.pumicon-arrow-up-left3:before {
    content: "\e730";
}
.pumicon-arrow-up3:before {
    content: "\e731";
}
.pumicon-arrow-up-right3:before {
    content: "\e732";
}
.pumicon-arrow-right3:before {
    content: "\e733";
}
.pumicon-arrow-down-right3:before {
    content: "\e734";
}
.pumicon-arrow-down3:before {
    content: "\e735";
}
.pumicon-arrow-down-left3:before {
    content: "\e736";
}
.pumicon-arrow-left3:before {
    content: "\e737";
}
.pumicon-tab:before {
    content: "\e738";
}
.pumicon-checkbox-checked:before {
    content: "\e739";
}
.pumicon-checkbox-unchecked:before {
    content: "\e73a";
}
.pumicon-checkbox-partial:before {
    content: "\e73b";
}
.pumicon-radio-checked:before {
    content: "\e73c";
}
.pumicon-radio-unchecked:before {
    content: "\e73d";
}
.pumicon-crop:before {
    content: "\e73e";
}
.pumicon-scissors:before {
    content: "\e73f";
}
.pumicon-filter:before {
    content: "\e740";
}
.pumicon-filter2:before {
    content: "\e741";
}
.pumicon-font:before {
    content: "\e742";
}
.pumicon-text-height:before {
    content: "\e743";
}
.pumicon-text-width:before {
    content: "\e744";
}
.pumicon-bold:before {
    content: "\e745";
}
.pumicon-underline:before {
    content: "\e746";
}
.pumicon-italic:before {
    content: "\e747";
}
.pumicon-strikethrough:before {
    content: "\e748";
}
.pumicon-omega:before {
    content: "\e749";
}
.pumicon-sigma:before {
    content: "\e74a";
}
.pumicon-table:before {
    content: "\e74b";
}
.pumicon-table2:before {
    content: "\e74c";
}
.pumicon-insert-template:before {
    content: "\e74d";
}
.pumicon-pilcrow:before {
    content: "\e74e";
}
.pumicon-left-toright:before {
    content: "\e74f";
}
.pumicon-right-toleft:before {
    content: "\e750";
}
.pumicon-paragraph-left:before {
    content: "\e751";
}
.pumicon-paragraph-center:before {
    content: "\e752";
}
.pumicon-paragraph-right:before {
    content: "\e753";
}
.pumicon-paragraph-justify:before {
    content: "\e754";
}
.pumicon-paragraph-left2:before {
    content: "\e755";
}
.pumicon-paragraph-center2:before {
    content: "\e756";
}
.pumicon-paragraph-right2:before {
    content: "\e757";
}
.pumicon-paragraph-justify2:before {
    content: "\e758";
}
.pumicon-indent-increase:before {
    content: "\e759";
}
.pumicon-indent-decrease:before {
    content: "\e75a";
}
.pumicon-new-tab:before {
    content: "\e75b";
}
.pumicon-embed:before {
    content: "\e75c";
}
.pumicon-code:before {
    content: "\e75d";
}
.pumicon-console:before {
    content: "\e75e";
}
.pumicon-share:before {
    content: "\e75f";
}
.pumicon-mail:before {
    content: "\e760";
}
.pumicon-mail2:before {
    content: "\e761";
}
.pumicon-mail3:before {
    content: "\e762";
}
.pumicon-mail4:before {
    content: "\e763";
}
.pumicon-yelp:before {
    content: "\e764";
}
.pumicon-libreoffice:before {
    content: "\e765";
}
.pumicon-file-pdf:before {
    content: "\e766";
}
.pumicon-file-openoffice:before {
    content: "\e767";
}
.pumicon-file-word:before {
    content: "\e768";
}
.pumicon-file-excel:before {
    content: "\e769";
}
.pumicon-file-zip:before {
    content: "\e76a";
}
.pumicon-file-powerpoint:before {
    content: "\e76b";
}
.pumicon-file-xml:before {
    content: "\e76c";
}
.pumicon-file-css:before {
    content: "\e76d";
}
.pumicon-html5:before {
    content: "\e76e";
}
.pumicon-html52:before {
    content: "\e76f";
}
.pumicon-css3:before {
    content: "\e770";
}
.pumicon-chrome:before {
    content: "\e771";
}
.pumicon-firefox:before {
    content: "\e772";
}
.pumicon-IE:before {
    content: "\e773";
}
.pumicon-opera:before {
    content: "\e774";
}
.pumicon-safari:before {
    content: "\e775";
}
.pumicon-IcoMoon:before {
    content: "\e776";
}
.pumicon-feed2:before {
    content: "\e777";
}
.pumicon-feed3:before {
    content: "\e778";
}
.pumicon-feed4:before {
    content: "\e779";
}
.pumicon-github:before {
    content: "\e77a";
}
.pumicon-github2:before {
    content: "\e77b";
}
.pumicon-github3:before {
    content: "\e77c";
}
.pumicon-github4:before {
    content: "\e77d";
}
.pumicon-steam:before {
    content: "\e77e";
}
.pumicon-steam2:before {
    content: "\e77f";
}
.pumicon-github5:before {
    content: "\e780";
}
.pumicon-apple:before {
    content: "\e781";
}
.pumicon-windows:before {
    content: "\e782";
}
.pumicon-android:before {
    content: "\e783";
}
.pumicon-tux:before {
    content: "\e784";
}
.pumicon-windows8:before {
    content: "\e785";
}
.pumicon-lastfm:before {
    content: "\e786";
}
.pumicon-lastfm2:before {
    content: "\e787";
}
.pumicon-stackoverflow:before {
    content: "\e788";
}
.pumicon-briefcase2:before {
    content: "\e789";
}
.pumicon-folder2:before {
    content: "\e78a";
}
.pumicon-search2:before {
    content: "\e78b";
}
.pumicon-blocked2:before {
    content: "\e78c";
}
.pumicon-target2:before {
    content: "\e78d";
}
.pumicon-earth2:before {
    content: "\e78e";
}
.pumicon-window:before {
    content: "\e78f";
}
.pumicon-location3:before {
    content: "\e790";
}
.pumicon-trashcan:before {
    content: "\e791";
}
.pumicon-stats2:before {
    content: "\e792";
}
.pumicon-keyboard2:before {
    content: "\e793";
}
.pumicon-credit-card:before {
    content: "\e794";
}
.pumicon-code2:before {
    content: "\e795";
}
.pumicon-meter3:before {
    content: "\e796";
}
.pumicon-lock3:before {
    content: "\e797";
}
.pumicon-unlocked2:before {
    content: "\e798";
}
.pumicon-unlocked3:before {
    content: "\e799";
}
.pumicon-enter2:before {
    content: "\e79a";
}
.pumicon-star4:before {
    content: "\e79b";
}
.pumicon-clock3:before {
    content: "\e79c";
}
.pumicon-settings2:before {
    content: "\e79d";
}
.pumicon-map-marker:before {
    content: "\e79e";
}
.pumicon-stack2:before {
    content: "\e79f";
}
.pumicon-stopwatch2:before {
    content: "\e7a0";
}
.pumicon-atom:before {
    content: "\e7a1";
}
.pumicon-syringe:before {
    content: "\e7a2";
}
.pumicon-pill:before {
    content: "\e7a3";
}
.pumicon-select:before {
    content: "\e7a4";
}
.pumicon-graph:before {
    content: "\e7a5";
}
.pumicon-chart:before {
    content: "\e7a6";
}
.pumicon-clip:before {
    content: "\e7a7";
}
.pumicon-fire2:before {
    content: "\e7a8";
}
.pumicon-location4:before {
    content: "\e7a9";
}
.pumicon-number:before {
    content: "\e7aa";
}
.pumicon-number2:before {
    content: "\e7ab";
}
.pumicon-number3:before {
    content: "\e7ac";
}
.pumicon-number4:before {
    content: "\e7ad";
}
.pumicon-number5:before {
    content: "\e7ae";
}
.pumicon-number6:before {
    content: "\e7af";
}
.pumicon-number7:before {
    content: "\e7b0";
}
.pumicon-number8:before {
    content: "\e7b1";
}
.pumicon-number9:before {
    content: "\e7b2";
}
.pumicon-number10:before {
    content: "\e7b3";
}
.pumicon-number11:before {
    content: "\e7b4";
}
.pumicon-number12:before {
    content: "\e7b5";
}
.pumicon-number13:before {
    content: "\e7b6";
}
.pumicon-number14:before {
    content: "\e7b7";
}
.pumicon-number15:before {
    content: "\e7b8";
}
.pumicon-number16:before {
    content: "\e7b9";
}
.pumicon-number17:before {
    content: "\e7ba";
}
.pumicon-number18:before {
    content: "\e7bb";
}
.pumicon-number19:before {
    content: "\e7bc";
}
.pumicon-number20:before {
    content: "\e7bd";
}
.pumicon-quote:before {
    content: "\e7be";
}
.pumicon-quote2:before {
    content: "\e7bf";
}
.pumicon-tag2:before {
    content: "\e7c0";
}
.pumicon-tag3:before {
    content: "\e7c1";
}
.pumicon-link2:before {
    content: "\e7c2";
}
.pumicon-link3:before {
    content: "\e7c3";
}
.pumicon-cabinet2:before {
    content: "\e7c4";
}
.pumicon-cabinet3:before {
    content: "\e7c5";
}
.pumicon-calendar3:before {
    content: "\e7c6";
}
.pumicon-calendar4:before {
    content: "\e7c7";
}
.pumicon-calendar5:before {
    content: "\e7c8";
}
.pumicon-file5:before {
    content: "\e7c9";
}
.pumicon-file6:before {
    content: "\e7ca";
}
.pumicon-file7:before {
    content: "\e7cb";
}
.pumicon-files:before {
    content: "\e7cc";
}
.pumicon-phone2:before {
    content: "\e7cd";
}
.pumicon-tablet2:before {
    content: "\e7ce";
}
.pumicon-window2:before {
    content: "\e7cf";
}
.pumicon-monitor:before {
    content: "\e7d0";
}
.pumicon-ipod:before {
    content: "\e7d1";
}
.pumicon-tv2:before {
    content: "\e7d2";
}
.pumicon-camera3:before {
    content: "\e7d3";
}
.pumicon-camera4:before {
    content: "\e7d4";
}
.pumicon-camera5:before {
    content: "\e7d5";
}
.pumicon-film2:before {
    content: "\e7d6";
}
.pumicon-film3:before {
    content: "\e7d7";
}
.pumicon-film4:before {
    content: "\e7d8";
}
.pumicon-microphone:before {
    content: "\e7d9";
}
.pumicon-microphone2:before {
    content: "\e7da";
}
.pumicon-microphone3:before {
    content: "\e7db";
}
.pumicon-drink:before {
    content: "\e7dc";
}
.pumicon-drink2:before {
    content: "\e7dd";
}
.pumicon-drink3:before {
    content: "\e7de";
}
.pumicon-drink4:before {
    content: "\e7df";
}
.pumicon-coffee:before {
    content: "\e7e0";
}
.pumicon-mug2:before {
    content: "\e7e1";
}
.pumicon-ice-cream:before {
    content: "\e7e2";
}
.pumicon-cake:before {
    content: "\e7e3";
}
.pumicon-inbox:before {
    content: "\e7e4";
}
.pumicon-download4:before {
    content: "\e7e5";
}
.pumicon-upload4:before {
    content: "\e7e6";
}
.pumicon-inbox2:before {
    content: "\e7e7";
}
.pumicon-checkmark3:before {
    content: "\e7e8";
}
.pumicon-checkmark4:before {
    content: "\e7e9";
}
.pumicon-cancel:before {
    content: "\e7ea";
}
.pumicon-cancel2:before {
    content: "\e7eb";
}
.pumicon-plus2:before {
    content: "\e7ec";
}
.pumicon-plus3:before {
    content: "\e7ed";
}
.pumicon-minus2:before {
    content: "\e7ee";
}
.pumicon-minus3:before {
    content: "\e7ef";
}
.pumicon-notice:before {
    content: "\e7f0";
}
.pumicon-notice2:before {
    content: "\e7f1";
}
.pumicon-cog3:before {
    content: "\e7f2";
}
.pumicon-cogs2:before {
    content: "\e7f3";
}
.pumicon-cog4:before {
    content: "\e7f4";
}
.pumicon-warning2:before {
    content: "\e7f5";
}
.pumicon-health:before {
    content: "\e7f6";
}
.pumicon-suitcase:before {
    content: "\e7f7";
}
.pumicon-suitcase2:before {
    content: "\e7f8";
}
.pumicon-suitcase3:before {
    content: "\e7f9";
}
.pumicon-picture:before {
    content: "\e7fa";
}
.pumicon-pictures:before {
    content: "\e7fb";
}
.pumicon-pictures2:before {
    content: "\e7fc";
}
.pumicon-android2:before {
    content: "\e7fd";
}
.pumicon-marvin:before {
    content: "\e7fe";
}
.pumicon-pacman2:before {
    content: "\e7ff";
}
.pumicon-cassette:before {
    content: "\e800";
}
.pumicon-watch:before {
    content: "\e801";
}
.pumicon-chronometer:before {
    content: "\e802";
}
.pumicon-watch2:before {
    content: "\e803";
}
.pumicon-alarm-clock:before {
    content: "\e804";
}
.pumicon-time:before {
    content: "\e805";
}
.pumicon-time2:before {
    content: "\e806";
}
.pumicon-headphones2:before {
    content: "\e807";
}
.pumicon-wallet:before {
    content: "\e808";
}
.pumicon-checkmark5:before {
    content: "\e809";
}
.pumicon-cancel3:before {
    content: "\e80a";
}
.pumicon-eye3:before {
    content: "\e80b";
}
.pumicon-position:before {
    content: "\e80c";
}
.pumicon-site-map:before {
    content: "\e80d";
}
.pumicon-site-map2:before {
    content: "\e80e";
}
.pumicon-cloud2:before {
    content: "\e80f";
}
.pumicon-upload5:before {
    content: "\e810";
}
.pumicon-chart2:before {
    content: "\e811";
}
.pumicon-chart3:before {
    content: "\e812";
}
.pumicon-chart4:before {
    content: "\e813";
}
.pumicon-chart5:before {
    content: "\e814";
}
.pumicon-chart6:before {
    content: "\e815";
}
.pumicon-chart7:before {
    content: "\e816";
}
.pumicon-location5:before {
    content: "\e817";
}
.pumicon-download5:before {
    content: "\e818";
}
.pumicon-basket:before {
    content: "\e819";
}
.pumicon-folder3:before {
    content: "\e81a";
}
.pumicon-gamepad:before {
    content: "\e81b";
}
.pumicon-alarm3:before {
    content: "\e81c";
}
.pumicon-alarm-cancel:before {
    content: "\e81d";
}
.pumicon-phone3:before {
    content: "\e81e";
}
.pumicon-phone4:before {
    content: "\e81f";
}
.pumicon-image3:before {
    content: "\e820";
}
.pumicon-open:before {
    content: "\e821";
}
.pumicon-sale:before {
    content: "\e822";
}
.pumicon-direction:before {
    content: "\e823";
}
.pumicon-map3:before {
    content: "\e824";
}
.pumicon-trashcan2:before {
    content: "\e825";
}
.pumicon-vote:before {
    content: "\e826";
}
.pumicon-graduate:before {
    content: "\e827";
}
.pumicon-lab2:before {
    content: "\e828";
}
.pumicon-tie:before {
    content: "\e829";
}
.pumicon-football:before {
    content: "\e82a";
}
.pumicon-eight-ball:before {
    content: "\e82b";
}
.pumicon-bowling:before {
    content: "\e82c";
}
.pumicon-bowling-pin:before {
    content: "\e82d";
}
.pumicon-baseball:before {
    content: "\e82e";
}
.pumicon-soccer:before {
    content: "\e82f";
}
.pumicon-3d-glasses:before {
    content: "\e830";
}
.pumicon-microwave:before {
    content: "\e831";
}
.pumicon-refrigerator:before {
    content: "\e832";
}
.pumicon-oven:before {
    content: "\e833";
}
.pumicon-washing-machine:before {
    content: "\e834";
}
.pumicon-mouse:before {
    content: "\e835";
}
.pumicon-smiley3:before {
    content: "\e836";
}
.pumicon-sad3:before {
    content: "\e837";
}
.pumicon-mute:before {
    content: "\e838";
}
.pumicon-hand:before {
    content: "\e839";
}
.pumicon-radio:before {
    content: "\e83a";
}
.pumicon-satellite:before {
    content: "\e83b";
}
.pumicon-medal:before {
    content: "\e83c";
}
.pumicon-medal2:before {
    content: "\e83d";
}
.pumicon-switch2:before {
    content: "\e83e";
}
.pumicon-key3:before {
    content: "\e83f";
}
.pumicon-cord:before {
    content: "\e840";
}
.pumicon-locked:before {
    content: "\e841";
}
.pumicon-unlocked4:before {
    content: "\e842";
}
.pumicon-locked2:before {
    content: "\e843";
}
.pumicon-unlocked5:before {
    content: "\e844";
}
.pumicon-magnifier:before {
    content: "\e845";
}
.pumicon-zoom-in2:before {
    content: "\e846";
}
.pumicon-zoom-out2:before {
    content: "\e847";
}
.pumicon-stack3:before {
    content: "\e848";
}
.pumicon-stack4:before {
    content: "\e849";
}
.pumicon-stack5:before {
    content: "\e84a";
}
.pumicon-david-star:before {
    content: "\e84b";
}
.pumicon-cross:before {
    content: "\e84c";
}
.pumicon-moon-andstar:before {
    content: "\e84d";
}
.pumicon-transformers:before {
    content: "\e84e";
}
.pumicon-batman:before {
    content: "\e84f";
}
.pumicon-space-invaders:before {
    content: "\e850";
}
.pumicon-skeletor:before {
    content: "\e851";
}
.pumicon-lamp:before {
    content: "\e852";
}
.pumicon-lamp2:before {
    content: "\e853";
}
.pumicon-umbrella:before {
    content: "\e854";
}
.pumicon-street-light:before {
    content: "\e855";
}
.pumicon-bomb:before {
    content: "\e856";
}
.pumicon-archive:before {
    content: "\e857";
}
.pumicon-battery:before {
    content: "\e858";
}
.pumicon-battery2:before {
    content: "\e859";
}
.pumicon-battery3:before {
    content: "\e85a";
}
.pumicon-battery4:before {
    content: "\e85b";
}
.pumicon-battery5:before {
    content: "\e85c";
}
.pumicon-megaphone:before {
    content: "\e85d";
}
.pumicon-megaphone2:before {
    content: "\e85e";
}
.pumicon-patch:before {
    content: "\e85f";
}
.pumicon-pil:before {
    content: "\e860";
}
.pumicon-injection:before {
    content: "\e861";
}
.pumicon-thermometer:before {
    content: "\e862";
}
.pumicon-lamp3:before {
    content: "\e863";
}
.pumicon-lamp4:before {
    content: "\e864";
}
.pumicon-lamp5:before {
    content: "\e865";
}
.pumicon-cube:before {
    content: "\e866";
}
.pumicon-box:before {
    content: "\e867";
}
.pumicon-box2:before {
    content: "\e868";
}
.pumicon-diamond:before {
    content: "\e869";
}
.pumicon-bag:before {
    content: "\e86a";
}
.pumicon-money-bag:before {
    content: "\e86b";
}
.pumicon-grid:before {
    content: "\e86c";
}
.pumicon-grid2:before {
    content: "\e86d";
}
.pumicon-list3:before {
    content: "\e86e";
}
.pumicon-list4:before {
    content: "\e86f";
}
.pumicon-ruler:before {
    content: "\e870";
}
.pumicon-ruler2:before {
    content: "\e871";
}
.pumicon-layout:before {
    content: "\e872";
}
.pumicon-layout2:before {
    content: "\e873";
}
.pumicon-layout3:before {
    content: "\e874";
}
.pumicon-layout4:before {
    content: "\e875";
}
.pumicon-layout5:before {
    content: "\e876";
}
.pumicon-layout6:before {
    content: "\e877";
}
.pumicon-layout7:before {
    content: "\e878";
}
.pumicon-layout8:before {
    content: "\e879";
}
.pumicon-layout9:before {
    content: "\e87a";
}
.pumicon-layout10:before {
    content: "\e87b";
}
.pumicon-layout11:before {
    content: "\e87c";
}
.pumicon-layout12:before {
    content: "\e87d";
}
.pumicon-layout13:before {
    content: "\e87e";
}
.pumicon-layout14:before {
    content: "\e87f";
}
.pumicon-tools:before {
    content: "\e880";
}
.pumicon-screwdriver:before {
    content: "\e881";
}
.pumicon-paint:before {
    content: "\e882";
}
.pumicon-hammer3:before {
    content: "\e883";
}
.pumicon-brush:before {
    content: "\e884";
}
.pumicon-pen2:before {
    content: "\e885";
}
.pumicon-chat:before {
    content: "\e886";
}
.pumicon-comments:before {
    content: "\e887";
}
.pumicon-chat2:before {
    content: "\e888";
}
.pumicon-chat3:before {
    content: "\e889";
}
.pumicon-volume:before {
    content: "\e88a";
}
.pumicon-volume2:before {
    content: "\e88b";
}
.pumicon-volume3:before {
    content: "\e88c";
}
.pumicon-equalizer2:before {
    content: "\e88d";
}
.pumicon-resize:before {
    content: "\e88e";
}
.pumicon-resize2:before {
    content: "\e88f";
}
.pumicon-stretch:before {
    content: "\e890";
}
.pumicon-narrow:before {
    content: "\e891";
}
.pumicon-resize3:before {
    content: "\e892";
}
.pumicon-download6:before {
    content: "\e893";
}
.pumicon-calculator:before {
    content: "\e894";
}
.pumicon-library2:before {
    content: "\e895";
}
.pumicon-auction:before {
    content: "\e896";
}
.pumicon-justice:before {
    content: "\e897";
}
.pumicon-stats3:before {
    content: "\e898";
}
.pumicon-stats4:before {
    content: "\e899";
}
.pumicon-attachment2:before {
    content: "\e89a";
}
.pumicon-hourglass:before {
    content: "\e89b";
}
.pumicon-abacus:before {
    content: "\e89c";
}
.pumicon-pencil3:before {
    content: "\e89d";
}
.pumicon-pen3:before {
    content: "\e89e";
}
.pumicon-pin:before {
    content: "\e89f";
}
.pumicon-pin2:before {
    content: "\e8a0";
}
.pumicon-discout:before {
    content: "\e8a1";
}
.pumicon-edit:before {
    content: "\e8a2";
}
.pumicon-scissors2:before {
    content: "\e8a3";
}
.pumicon-profile2:before {
    content: "\e8a4";
}
.pumicon-profile3:before {
    content: "\e8a5";
}
.pumicon-profile4:before {
    content: "\e8a6";
}
.pumicon-rotate:before {
    content: "\e8a7";
}
.pumicon-rotate2:before {
    content: "\e8a8";
}
.pumicon-reply2:before {
    content: "\e8a9";
}
.pumicon-forward4:before {
    content: "\e8aa";
}
.pumicon-retweet:before {
    content: "\e8ab";
}
.pumicon-shuffle2:before {
    content: "\e8ac";
}
.pumicon-loop4:before {
    content: "\e8ad";
}
.pumicon-crop2:before {
    content: "\e8ae";
}
.pumicon-square:before {
    content: "\e8af";
}
.pumicon-square2:before {
    content: "\e8b0";
}
.pumicon-circle:before {
    content: "\e8b1";
}
.pumicon-dollar:before {
    content: "\e8b2";
}
.pumicon-dollar2:before {
    content: "\e8b3";
}
.pumicon-coins:before {
    content: "\e8b4";
}
.pumicon-pig:before {
    content: "\e8b5";
}
.pumicon-bookmark2:before {
    content: "\e8b6";
}
.pumicon-bookmark3:before {
    content: "\e8b7";
}
.pumicon-address-book2:before {
    content: "\e8b8";
}
.pumicon-address-book3:before {
    content: "\e8b9";
}
.pumicon-safe:before {
    content: "\e8ba";
}
.pumicon-envelope2:before {
    content: "\e8bb";
}
.pumicon-envelope3:before {
    content: "\e8bc";
}
.pumicon-radio-active:before {
    content: "\e8bd";
}
.pumicon-music2:before {
    content: "\e8be";
}
.pumicon-presentation:before {
    content: "\e8bf";
}
.pumicon-male:before {
    content: "\e8c0";
}
.pumicon-female:before {
    content: "\e8c1";
}
.pumicon-aids:before {
    content: "\e8c2";
}
.pumicon-heart3:before {
    content: "\e8c3";
}
.pumicon-info3:before {
    content: "\e8c4";
}
.pumicon-info4:before {
    content: "\e8c5";
}
.pumicon-piano:before {
    content: "\e8c6";
}
.pumicon-rain:before {
    content: "\e8c7";
}
.pumicon-snow:before {
    content: "\e8c8";
}
.pumicon-lightning2:before {
    content: "\e8c9";
}
.pumicon-sun:before {
    content: "\e8ca";
}
.pumicon-moon:before {
    content: "\e8cb";
}
.pumicon-cloudy:before {
    content: "\e8cc";
}
.pumicon-cloudy2:before {
    content: "\e8cd";
}
.pumicon-car:before {
    content: "\e8ce";
}
.pumicon-bike:before {
    content: "\e8cf";
}
.pumicon-truck2:before {
    content: "\e8d0";
}
.pumicon-bus:before {
    content: "\e8d1";
}
.pumicon-bike2:before {
    content: "\e8d2";
}
.pumicon-plane:before {
    content: "\e8d3";
}
.pumicon-paper-plane:before {
    content: "\e8d4";
}
.pumicon-rocket2:before {
    content: "\e8d5";
}
.pumicon-book2:before {
    content: "\e8d6";
}
.pumicon-book3:before {
    content: "\e8d7";
}
.pumicon-barcode2:before {
    content: "\e8d8";
}
.pumicon-barcode3:before {
    content: "\e8d9";
}
.pumicon-expand3:before {
    content: "\e8da";
}
.pumicon-collapse:before {
    content: "\e8db";
}
.pumicon-pop-out:before {
    content: "\e8dc";
}
.pumicon-pop-in:before {
    content: "\e8dd";
}
.pumicon-target3:before {
    content: "\e8de";
}
.pumicon-badge:before {
    content: "\e8df";
}
.pumicon-badge2:before {
    content: "\e8e0";
}
.pumicon-ticket2:before {
    content: "\e8e1";
}
.pumicon-ticket3:before {
    content: "\e8e2";
}
.pumicon-ticket4:before {
    content: "\e8e3";
}
.pumicon-microphone4:before {
    content: "\e8e4";
}
.pumicon-cone:before {
    content: "\e8e5";
}
.pumicon-blocked3:before {
    content: "\e8e6";
}
.pumicon-stop3:before {
    content: "\e8e7";
}
.pumicon-keyboard3:before {
    content: "\e8e8";
}
.pumicon-keyboard4:before {
    content: "\e8e9";
}
.pumicon-radio2:before {
    content: "\e8ea";
}
.pumicon-printer:before {
    content: "\e8eb";
}
.pumicon-checked:before {
    content: "\e8ec";
}
.pumicon-error:before {
    content: "\e8ed";
}
.pumicon-add:before {
    content: "\e8ee";
}
.pumicon-minus4:before {
    content: "\e8ef";
}
.pumicon-alert:before {
    content: "\e8f0";
}
.pumicon-pictures3:before {
    content: "\e8f1";
}
.pumicon-atom2:before {
    content: "\e8f2";
}
.pumicon-eyedropper:before {
    content: "\e8f3";
}
.pumicon-globe2:before {
    content: "\e8f4";
}
.pumicon-globe3:before {
    content: "\e8f5";
}
.pumicon-shipping:before {
    content: "\e8f6";
}
.pumicon-ying-yang:before {
    content: "\e8f7";
}
.pumicon-compass2:before {
    content: "\e8f8";
}
.pumicon-zip:before {
    content: "\e8f9";
}
.pumicon-zip2:before {
    content: "\e8fa";
}
.pumicon-anchor:before {
    content: "\e8fb";
}
.pumicon-locked-heart:before {
    content: "\e8fc";
}
.pumicon-magnet2:before {
    content: "\e8fd";
}
.pumicon-navigation:before {
    content: "\e8fe";
}
.pumicon-tags2:before {
    content: "\e8ff";
}
.pumicon-heart4:before {
    content: "\e900";
}
.pumicon-heart5:before {
    content: "\e901";
}
.pumicon-usb:before {
    content: "\e902";
}
.pumicon-clipboard:before {
    content: "\e903";
}
.pumicon-clipboard2:before {
    content: "\e904";
}
.pumicon-clipboard3:before {
    content: "\e905";
}
.pumicon-switch3:before {
    content: "\e906";
}
.pumicon-ruler3:before {
    content: "\e907";
}
.pumicon-star-empty:before {
    content: "\e908";
}
.pumicon-star5:before {
    content: "\e909";
}
.pumicon-text-height2:before {
    content: "\e90a";
}
.pumicon-align-left:before {
    content: "\e90b";
}
.pumicon-asterisk:before {
    content: "\e90c";
}
.pumicon-exclamation-sign:before {
    content: "\e90d";
}
.pumicon-signin:before {
    content: "\e90e";
}
.pumicon-lemon:before {
    content: "\e90f";
}
.pumicon-phone5:before {
    content: "\e910";
}
.pumicon-credit2:before {
    content: "\e911";
}
.pumicon-sort:before {
    content: "\e912";
}
.pumicon-sort-down:before {
    content: "\e913";
}
.pumicon-sort-up:before {
    content: "\e914";
}
.pumicon-sort-by-alphabet:before {
    content: "\e915";
}
.pumicon-sort-by-alphabet-alt:before {
    content: "\e916";
}
.pumicon-sort-by-attributes:before {
    content: "\e917";
}
.pumicon-sort-by-attributes-alt:before {
    content: "\e918";
}
.pumicon-sort-by-order:before {
    content: "\e919";
}
.pumicon-sort-by-order-alt:before {
    content: "\e91a";
}
.pumicon-mobile3:before {
    content: "\e91b";
}
.pumicon-mouse2:before {
    content: "\e91c";
}
.pumicon-directions:before {
    content: "\e91d";
}
.pumicon-mail5:before {
    content: "\e91e";
}
.pumicon-paperplane:before {
    content: "\e91f";
}
.pumicon-pencil4:before {
    content: "\e920";
}
.pumicon-feather:before {
    content: "\e921";
}
.pumicon-paperclip:before {
    content: "\e922";
}
.pumicon-drawer4:before {
    content: "\e923";
}
.pumicon-reply3:before {
    content: "\e924";
}
.pumicon-reply-all:before {
    content: "\e925";
}
.pumicon-forward5:before {
    content: "\e926";
}
.pumicon-user5:before {
    content: "\e927";
}
.pumicon-users3:before {
    content: "\e928";
}
.pumicon-user-add:before {
    content: "\e929";
}
.pumicon-vcard:before {
    content: "\e92a";
}
.pumicon-export:before {
    content: "\e92b";
}
.pumicon-location6:before {
    content: "\e92c";
}
.pumicon-map4:before {
    content: "\e92d";
}
.pumicon-compass3:before {
    content: "\e92e";
}
.pumicon-location7:before {
    content: "\e92f";
}
.pumicon-target4:before {
    content: "\e930";
}
.pumicon-share2:before {
    content: "\e931";
}
.pumicon-sharable:before {
    content: "\e932";
}
.pumicon-heart6:before {
    content: "\e933";
}
.pumicon-heart7:before {
    content: "\e934";
}
.pumicon-star6:before {
    content: "\e935";
}
.pumicon-star7:before {
    content: "\e936";
}
.pumicon-thumbs-up3:before {
    content: "\e937";
}
.pumicon-thumbs-down:before {
    content: "\e938";
}
.pumicon-chat4:before {
    content: "\e939";
}
.pumicon-flashlight:before {
    content: "\e93a";
}
.pumicon-printer2:before {
    content: "\e93b";
}
.pumicon-bell2:before {
    content: "\e93c";
}
.pumicon-link4:before {
    content: "\e93d";
}
.pumicon-flag2:before {
    content: "\e93e";
}
.pumicon-cog5:before {
    content: "\e93f";
}
.pumicon-tools2:before {
    content: "\e940";
}
.pumicon-trophy2:before {
    content: "\e941";
}
.pumicon-tag4:before {
    content: "\e942";
}
.pumicon-camera6:before {
    content: "\e943";
}
.pumicon-megaphone3:before {
    content: "\e944";
}
.pumicon-moon2:before {
    content: "\e945";
}
.pumicon-palette:before {
    content: "\e946";
}
.pumicon-leaf2:before {
    content: "\e947";
}
.pumicon-music3:before {
    content: "\e948";
}
.pumicon-music4:before {
    content: "\e949";
}
.pumicon-new:before {
    content: "\e94a";
}
.pumicon-graduation:before {
    content: "\e94b";
}
.pumicon-book4:before {
    content: "\e94c";
}
.pumicon-newspaper2:before {
    content: "\e94d";
}
.pumicon-bag2:before {
    content: "\e94e";
}
.pumicon-airplane2:before {
    content: "\e94f";
}
.pumicon-lifebuoy:before {
    content: "\e950";
}
.pumicon-eye4:before {
    content: "\e951";
}
.pumicon-clock4:before {
    content: "\e952";
}
.pumicon-microphone5:before {
    content: "\e953";
}
.pumicon-calendar6:before {
    content: "\e954";
}
.pumicon-bolt:before {
    content: "\e955";
}
.pumicon-thunder:before {
    content: "\e956";
}
.pumicon-droplet2:before {
    content: "\e957";
}
.pumicon-cd:before {
    content: "\e958";
}
.pumicon-network:before {
    content: "\e959";
}
.pumicon-key4:before {
    content: "\e95a";
}
.pumicon-battery6:before {
    content: "\e95b";
}
.pumicon-bucket:before {
    content: "\e95c";
}
.pumicon-magnet3:before {
    content: "\e95d";
}
.pumicon-drive:before {
    content: "\e95e";
}
.pumicon-cup:before {
    content: "\e95f";
}
.pumicon-rocket3:before {
    content: "\e960";
}
.pumicon-brush2:before {
    content: "\e961";
}
.pumicon-suitcase4:before {
    content: "\e962";
}
.pumicon-cone2:before {
    content: "\e963";
}
.pumicon-earth3:before {
    content: "\e964";
}
.pumicon-keyboard5:before {
    content: "\e965";
}
.pumicon-browser:before {
    content: "\e966";
}
.pumicon-publish:before {
    content: "\e967";
}
.pumicon-progress-3:before {
    content: "\e968";
}
.pumicon-progress-2:before {
    content: "\e969";
}
.pumicon-brogress-1:before {
    content: "\e96a";
}
.pumicon-progress-0:before {
    content: "\e96b";
}
.pumicon-sun2:before {
    content: "\e96c";
}
.pumicon-sun3:before {
    content: "\e96d";
}
.pumicon-adjust:before {
    content: "\e96e";
}
.pumicon-code3:before {
    content: "\e96f";
}
.pumicon-screen2:before {
    content: "\e970";
}
.pumicon-infinity:before {
    content: "\e971";
}
.pumicon-light-bulb:before {
    content: "\e972";
}
.pumicon-credit-card2:before {
    content: "\e973";
}
.pumicon-database:before {
    content: "\e974";
}
.pumicon-voicemail:before {
    content: "\e975";
}
.pumicon-clipboard4:before {
    content: "\e976";
}
.pumicon-cart4:before {
    content: "\e977";
}
.pumicon-droplets:before {
    content: "\e978";
}
.pumicon-uniE979:before {
    content: "\e979";
}
.pumicon-statistics:before {
    content: "\e97a";
}
.pumicon-pie2:before {
    content: "\e97b";
}
.pumicon-bars3:before {
    content: "\e97c";
}
.pumicon-graph2:before {
    content: "\e97d";
}
.pumicon-lock4:before {
    content: "\e97e";
}
.pumicon-lock-open:before {
    content: "\e97f";
}
.pumicon-logout:before {
    content: "\e980";
}
.pumicon-login:before {
    content: "\e981";
}
.pumicon-checkmark6:before {
    content: "\e982";
}
.pumicon-cross2:before {
    content: "\e983";
}
.pumicon-minus5:before {
    content: "\e984";
}
.pumicon-plus4:before {
    content: "\e985";
}
.pumicon-cross3:before {
    content: "\e986";
}
.pumicon-minus6:before {
    content: "\e987";
}
.pumicon-plus5:before {
    content: "\e988";
}
.pumicon-cross4:before {
    content: "\e989";
}
.pumicon-minus7:before {
    content: "\e98a";
}
.pumicon-plus6:before {
    content: "\e98b";
}
.pumicon-erase:before {
    content: "\e98c";
}
.pumicon-blocked4:before {
    content: "\e98d";
}
.pumicon-info5:before {
    content: "\e98e";
}
.pumicon-info6:before {
    content: "\e98f";
}
.pumicon-question2:before {
    content: "\e990";
}
.pumicon-help:before {
    content: "\e991";
}
.pumicon-warning3:before {
    content: "\e992";
}
.pumicon-cycle:before {
    content: "\e993";
}
.pumicon-cw:before {
    content: "\e994";
}
.pumicon-ccw:before {
    content: "\e995";
}
.pumicon-shuffle3:before {
    content: "\e996";
}
.pumicon-back:before {
    content: "\e997";
}
.pumicon-switch4:before {
    content: "\e998";
}
.pumicon-list5:before {
    content: "\e999";
}
.pumicon-add-to-list:before {
    content: "\e99a";
}
.pumicon-layout15:before {
    content: "\e99b";
}
.pumicon-list6:before {
    content: "\e99c";
}
.pumicon-text:before {
    content: "\e99d";
}
.pumicon-text2:before {
    content: "\e99e";
}
.pumicon-document:before {
    content: "\e99f";
}
.pumicon-docs:before {
    content: "\e9a0";
}
.pumicon-landscape:before {
    content: "\e9a1";
}
.pumicon-pictures4:before {
    content: "\e9a2";
}
.pumicon-video:before {
    content: "\e9a3";
}
.pumicon-music5:before {
    content: "\e9a4";
}
.pumicon-folder4:before {
    content: "\e9a5";
}
.pumicon-archive2:before {
    content: "\e9a6";
}
.pumicon-trash:before {
    content: "\e9a7";
}
.pumicon-upload6:before {
    content: "\e9a8";
}
.pumicon-download7:before {
    content: "\e9a9";
}
.pumicon-disk2:before {
    content: "\e9aa";
}
.pumicon-install:before {
    content: "\e9ab";
}
.pumicon-cloud3:before {
    content: "\e9ac";
}
.pumicon-upload7:before {
    content: "\e9ad";
}
.pumicon-bookmark4:before {
    content: "\e9ae";
}
.pumicon-bookmarks2:before {
    content: "\e9af";
}
.pumicon-book5:before {
    content: "\e9b0";
}
.pumicon-play4:before {
    content: "\e9b1";
}
.pumicon-pause3:before {
    content: "\e9b2";
}
.pumicon-record:before {
    content: "\e9b3";
}
.pumicon-stop4:before {
    content: "\e9b4";
}
.pumicon-next2:before {
    content: "\e9b5";
}
.pumicon-volume4:before {
    content: "\e9b6";
}
.pumicon-sound:before {
    content: "\e9b7";
}
.pumicon-mute2:before {
    content: "\e9b8";
}
.pumicon-flow-cascade:before {
    content: "\e9b9";
}
.pumicon-flow-branch:before {
    content: "\e9ba";
}
.pumicon-flow-tree:before {
    content: "\e9bb";
}
.pumicon-flow-line:before {
    content: "\e9bc";
}
.pumicon-flow-parallel:before {
    content: "\e9bd";
}
.pumicon-arrow-left4:before {
    content: "\e9be";
}
.pumicon-arrow-down4:before {
    content: "\e9bf";
}
.pumicon-arrow-up--upload:before {
    content: "\e9c0";
}
.pumicon-arrow-right4:before {
    content: "\e9c1";
}
.pumicon-arrow-left5:before {
    content: "\e9c2";
}
.pumicon-arrow-down5:before {
    content: "\e9c3";
}
.pumicon-arrow-up4:before {
    content: "\e9c4";
}
.pumicon-arrow-right5:before {
    content: "\e9c5";
}
.pumicon-arrow-left6:before {
    content: "\e9c6";
}
.pumicon-arrow-down6:before {
    content: "\e9c7";
}
.pumicon-arrow-up5:before {
    content: "\e9c8";
}
.pumicon-arrow-right6:before {
    content: "\e9c9";
}
.pumicon-arrow-left7:before {
    content: "\e9ca";
}
.pumicon-arrow-down7:before {
    content: "\e9cb";
}
.pumicon-arrow-up6:before {
    content: "\e9cc";
}
.pumicon-arrow-right7:before {
    content: "\e9cd";
}
.pumicon-arrow-left8:before {
    content: "\e9ce";
}
.pumicon-arrow-down8:before {
    content: "\e9cf";
}
.pumicon-arrow-up7:before {
    content: "\e9d0";
}
.pumicon-arrow-right8:before {
    content: "\e9d1";
}
.pumicon-arrow-left9:before {
    content: "\e9d2";
}
.pumicon-arrow-down9:before {
    content: "\e9d3";
}
.pumicon-arrow-up8:before {
    content: "\e9d4";
}
.pumicon-arrow-left10:before {
    content: "\e9d5";
}
.pumicon-arrow-down10:before {
    content: "\e9d6";
}
.pumicon-arrow-up9:before {
    content: "\e9d7";
}
.pumicon-arrow-right9:before {
    content: "\e9d8";
}
.pumicon-menu3:before {
    content: "\e9d9";
}
.pumicon-ellipsis:before {
    content: "\e9da";
}
.pumicon-dots:before {
    content: "\e9db";
}
.pumicon-dot:before {
    content: "\e9dc";
}
.pumicon-cc:before {
    content: "\e9dd";
}
.pumicon-cc-by:before {
    content: "\e9de";
}
.pumicon-cc-nc:before {
    content: "\e9df";
}
.pumicon-cc-nc-eu:before {
    content: "\e9e0";
}
.pumicon-cc-nc-jp:before {
    content: "\e9e1";
}
.pumicon-cc-sa:before {
    content: "\e9e2";
}
.pumicon-cc-nd:before {
    content: "\e9e3";
}
.pumicon-cc-pd:before {
    content: "\e9e4";
}
.pumicon-cc-zero:before {
    content: "\e9e5";
}
.pumicon-cc-share:before {
    content: "\e9e6";
}
.pumicon-cc-share2:before {
    content: "\e9e7";
}
.pumicon-daniel-bruce:before {
    content: "\e9e8";
}
.pumicon-daniel-bruce2:before {
    content: "\e9e9";
}
.pumicon-github6:before {
    content: "\e9ea";
}
.pumicon-github7:before {
    content: "\e9eb";
}
.pumicon-flickr:before {
    content: "\e9ec";
}
.pumicon-flickr2:before {
    content: "\e9ed";
}
.pumicon-vimeo:before {
    content: "\e9ee";
}
.pumicon-vimeo2:before {
    content: "\e9ef";
}
.pumicon-twitter:before {
    content: "\e9f0";
}
.pumicon-twitter2:before {
    content: "\e9f1";
}
.pumicon-facebook:before {
    content: "\e9f2";
}
.pumicon-tumblr:before {
    content: "\e9f3";
}
.pumicon-tumblr2:before {
    content: "\e9f4";
}
.pumicon-linkedin:before {
    content: "\e9f5";
}
.pumicon-linkedin2:before {
    content: "\e9f6";
}
.pumicon-dribbble:before {
    content: "\e9f7";
}
.pumicon-dribbble2:before {
    content: "\e9f8";
}
.pumicon-stumbleupon:before {
    content: "\e9f9";
}
.pumicon-stumbleupon2:before {
    content: "\e9fa";
}
.pumicon-lastfm3:before {
    content: "\e9fb";
}
.pumicon-lastfm4:before {
    content: "\e9fc";
}
.pumicon-rdio:before {
    content: "\e9fd";
}
.pumicon-rdio2:before {
    content: "\e9fe";
}
.pumicon-spotify:before {
    content: "\e9ff";
}
.pumicon-qq:before {
    content: "\ea00";
}
.pumicon-instagram:before {
    content: "\ea01";
}
.pumicon-dropbox:before {
    content: "\ea02";
}
.pumicon-search3:before {
    content: "\ea03";
}
.pumicon-language:before {
    content: "\ea04";
}
.pumicon-thermometer2:before {
    content: "\ea05";
}
.pumicon-history2:before {
    content: "\ea06";
}
.pumicon-resize-shrink:before {
    content: "\ea07";
}
.pumicon-uniEA08:before {
    content: "\ea08";
}
.pumicon-googleplus:before {
    content: "\ea09";
}
.pumicon-googleplus2:before {
    content: "\ea0a";
}
.pumicon-pinterest:before {
    content: "\ea0b";
}
.pumicon-pinterest2:before {
    content: "\ea0c";
}
.pumicon-evernote:before {
    content: "\ea0d";
}
.pumicon-flattr:before {
    content: "\ea0e";
}
.pumicon-skype:before {
    content: "\ea0f";
}
.pumicon-skype2:before {
    content: "\ea10";
}
.pumicon-renren:before {
    content: "\ea11";
}
.pumicon-sina-weibo:before {
    content: "\ea12";
}
.pumicon-paypal:before {
    content: "\ea13";
}
.pumicon-picasa:before {
    content: "\ea14";
}
.pumicon-soundcloud:before {
    content: "\ea15";
}
.pumicon-mixi:before {
    content: "\ea16";
}
.pumicon-behance:before {
    content: "\ea17";
}
.pumicon-circles:before {
    content: "\ea18";
}
.pumicon-vk:before {
    content: "\ea19";
}
.pumicon-arrow-right10:before {
    content: "\ea1a";
}
.pumicon-smashing:before {
    content: "\ea1b";
}
.pumicon-facebook2:before {
    content: "\ea1c";
}
.pumicon-facebook3:before {
    content: "\ea1d";
}
.pumicon-arrow-left11:before {
    content: "\ea1e";
}
.pumicon-arrow-down11:before {
    content: "\ea1f";
}
.pumicon-arrow-up10:before {
    content: "\ea20";
}
.pumicon-quote3:before {
    content: "\ea21";
}
.pumicon-house:before {
    content: "\ea22";
}
.pumicon-popup:before {
    content: "\ea23";
}
.pumicon-briefcase3:before {
    content: "\ea24";
}
.pumicon-air:before {
    content: "\ea25";
}
.pumicon-hourglass2:before {
    content: "\ea26";
}
.pumicon-gauge:before {
    content: "\ea27";
}
.pumicon-box3:before {
    content: "\ea28";
}
.pumicon-ticket5:before {
    content: "\ea29";
}
.pumicon-rss:before {
    content: "\ea2a";
}
.pumicon-signal:before {
    content: "\ea2b";
}
.pumicon-arrow:before {
    content: "\ea2c";
}
.pumicon-arrow2:before {
    content: "\ea2d";
}
.pumicon-retweet2:before {
    content: "\ea2e";
}
.pumicon-loop5:before {
    content: "\ea2f";
}
.pumicon-previous2:before {
    content: "\ea30";
}
.pumicon-first2:before {
    content: "\ea31";
}
.pumicon-last2:before {
    content: "\ea32";
}
.pumicon-resize-enlarge:before {
    content: "\ea33";
}
.pumicon-comment:before {
    content: "\ea34";
}
.pumicon-custom-saw:before {
    content: "\e457";
}
.pumicon-logo:before {
    content: "\e458";
}
.pumicon-one-to-many:before {
    content: "\e459";
}
.pumicon-many-to-one:before {
    content: "\e45a";
}
.pumicon-one-to-one:before {
    content: "\e45b";
}
.pumicon-many-to-many:before {
    content: "\e45c";
}


// Icon Specific
// --------------------------------------------------
.icon-block {
    display: block;
}

.icon-span {
    padding: 0 10%;
}

.icon-fat {
    vertical-align: middle;
    font-size: 230%;
}
.icon-medium {
    @extend .icon-fat;
    font-size: 180%;
    line-height: 1.4;
}