// Lists
// --------------------------------------------------
li.separator,
.nav-stacked>li.separator {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
    margin: 5px 0 5px;
}

.list-spaced {
    margin: 0;
    li {
        padding: 3px 0;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}

.list-group.single {
    margin-bottom: 0;
}