// Fonts
// --------------------------------------------------
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato-light.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato-regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato-bold.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/Lato-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/lato-italic.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/Lato-BoldItalic.woff') format('woff');
}

// Typo
// --------------------------------------------------
html {
    font: $typo-default-font;
}
body {
    font-family: $typo-default-fontfamily;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $typo-default-fontfamily;

    &.h-sm {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
h1, h2, h3 { margin: 0; }
.pum-view_title { font-weight: normal; font-size: 2em; line-height: 1.3; }

h1 small, .h1 small { padding-left: 5px; color: #AAA; font-size: 55%;}

code.text-muted {
    color: #BB7889;
    font-size: 80%;
}

.text-baseline {
    margin: 10px 0 0 0;
    font-size: 70%;
}

// Titles
// --------------------------------------------------
.h_air_title {
    margin: 12px 0 3px;
    padding: 2px 0;
}

// Links
// --------------------------------------------------
.text-inherit {
    color: inherit;

    &:hover,
    &:focus,
    &:active {
        color: inherit;
    }
}

// Pre
// --------------------------------------------------
.pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
}