// Dropdown
// --------------------------------------------------
.dropdown-fullwidth {
    min-width: 100%;
}

.dropdown-spaced {
    &>li>a {
        padding: 8px;
    }
    .divider {
        margin: 5px 0;
    }
}

    .dropdown-menu>li>a {
        &.text-primary {
            color: $bootstrap-color-primary;

            &:hover,
            &:focus {
                background-color: $bootstrap-color-primary;
                color: #FFF;
            }
        }
        &.text-success {
            color: $bootstrap-color-success;

            &:hover,
            &:focus {
                background-color: $bootstrap-color-success;
                color: #FFF;
            }
        }
        &.text-danger {
            color: $bootstrap-color-danger;

            &:hover,
            &:focus {
                background-color: $bootstrap-color-danger;
                color: #FFF;
            }
        }
        &.text-warning {
            color: $bootstrap-color-warning;

            &:hover,
            &:focus {
                background-color: $bootstrap-color-warning;
                color: #FFF;
            }
        }
    }

li.btn-group {

    .dropdown-toggle {
        display: block;
        width: 100%;
        cursor: pointer;
        padding: 0 10px;
    }

    .dropdown-menu {
        overflow: auto;
        max-height: 250px;
        border-radius: 0;
        width: calc(100% - 20px);
        margin: 0 10px;

        & a {
            color: #555;
        }
    }

    &.open {
        .dropdown-toggle {
            -webkit-box-shadow: none;
            box-shadow: none;

            .caret {
                border-top-color: #FFF;
                border-bottom-color: #FFF;
            }
        }
    }
}
