// Alert
// --------------------------------------------------
.close {
    margin-top: -8px;
    font-size: 18px;
}

.alert {
    border-radius: 2px;

    ul {
        padding-left: 20px;
    }
}

.alert-onlylist ul {
    margin: 0;
}
