// Table
// --------------------------------------------------
.table-bordered {
    border: 2px solid #EEE;
    border-top: 0;

    &>thead>tr>th,
    &>tbody>tr>th,
    &>tfoot>tr>th,
    &>thead>tr>td,
    &>tbody>tr>td,
    &>tfoot>tr>td {
        border-color: #EEE;
    }
}
.table thead>tr>th {
    vertical-align: text-bottom;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #F6F6F6;
}

.table {
    background-color: #FFF;
}
.table thead th {
    background-color: #EEE;
}

.table thead th {
    color: #666;
}

.table.pum-table-valign-middle thead > tr > th,
.table.pum-table-valign-middle thead > tr > td,
.table.pum-table-valign-middle tbody > tr > th,
.table.pum-table-valign-middle tbody > tr > td {
    vertical-align: middle;
}

.text-middle {
    vertical-align: middle !important;
}

.pum-schemed_cell {
    .pum-schemed_cell_wrapper {
        position: relative;
        overflow: hidden;
        margin: -8px;
        padding: inherit;

        & .pumicon {
            position: absolute;
            top: 0;
            right: -8px;
            color: #D9D9D9;
            font-size: 330%;
            line-height: 1;
        }
    }

    &.text-right .pumicon {
        right: auto;
        left: -8px;
    }
}

table .header{
    cursor:pointer;
}
table .header:after{
    visibility:hidden;
    float:right;
    margin-top:7px;
    border-width:0 4px 4px;
    border-style:solid;
    border-color:#000 transparent;
    content:"";
}
table .blue{
    border-bottom-color:#049cdb;
    color:#049cdb;
}
table .headerSortUp.blue, table .headerSortDown.blue, table .header.blue{
    background-color:#ade6fe;
}
table .green{
    border-bottom-color:#46a546;
    color:#46a546;
}
table .headerSortUp.green, table .headerSortDown.green, table .header.green{
    background-color:#cdeacd;
}
table .red{
    border-bottom-color:#9d261d;
    color:#9d261d;
}
table .headerSortUp.red, table .headerSortDown.red, table .header.red{
    background-color:#f4c8c5;
}
table .yellow{
    border-bottom-color:#ffc40d;
    color:#ffc40d;
}
table .headerSortUp.yellow,table .headerSortDown.yellow{
    background-color:#fff6d9;
}
table .orange{
    border-bottom-color:#f89406;
    color:#f89406;
}
table .headerSortUp.orange, table .headerSortDown.orange, table .header.orange{
    background-color:#fee9cc;
}
table .purple{
    border-bottom-color:#7a43b6;
    color:#7a43b6;
}
table .headerSortUp.purple, table .headerSortDown.purple, table .header.purple{
    background-color:#e2d5f0;
}

/* Sort icons */
table > thead th.header {
    padding: 0;

    > a {
        display: inline-block;
        padding: 11px 8px 0;
        width: 100%;
        vertical-align: bottom;
        text-decoration: none;
        line-height: 1;

        &:before {
            @extend .pumicon;
            display: inline-block;
            width: 1em;
            content: "\e6de";
        }

        &:hover:before {
            content: "\e72b";
        }

        &.headerSortUp {
            color: $global-color-darkgrass;

            &:before {
                content: "\e72b";
            }
            &:hover:before {
                content: "\e72c";
            }
        }

        &.headerSortDown {
            color: $global-color-darkgrass;

            &:before {
                content: "\e72c";
            }
            &:hover:before {
                content: "\e72b";
            }
        }
    }

}

    // Btn
    table td .btn {
        margin: 2px 0;
    }

    table thead {
        @include userselect(none);
        cursor: default;
    }

    table .is_checkable,
    table .is_checkable input {
        @include userselect(none);
        cursor: pointer;
    }