// Tabs
// --------------------------------------------------
.nav-tabs {
    $navbar_border_color: lighten($global-color-belizehole, 30%);
    border-bottom-color: $navbar_border_color;

    &>li>a {
        color: darken($global-color-belizehole, 15%);

        &:hover {
            border-bottom-color: $navbar_border_color;
        }
    }

    &>li.active>a,
    &>li.active>a:hover,
    &>li.active>a:focus {
        border-color: $navbar_border_color;
        border-bottom-color: #F9F9F9;
        border-radius: 2px 2px 0 0;
        background-color: lighten($global-color-belizehole, 49%);
        color: darken($global-color-belizehole, 3%);
    }

    + * {
        padding-top: 20px;
    }

    + .tab-content {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.7);
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: rgba(148, 198, 231, 0.3);
    }
}




form .tab-content .tab-pane {
    padding-top: 15px;
}
