// Panel
// --------------------------------------------------
.panel { position: relative; }

// CONDENSED
.panel-condensed {
    & > .panel-heading {
        padding: 5px 10px;
    }
    .panel-title {
        font-weight: bold;
        font-size: 13px;
    }

    & table thead th {
        padding: 3px 10px;
        font-size: 11px;
        font-weight: 400;
    }

    & table tbody td {
        padding: 5px 10px;
        font-size: 12px;

        .pumicon {
            font-size: 14px;
        }
    }
}

.panel .panel-control {
    padding: 0 0.75%;
    border: none;
    font-size: 20px;
    line-height: 1.9;

    &:hover {
        text-decoration: none;
    }
}

.panel-hidden-footer {
    .panel-footer {
        display: none;
    }

    &:hover .panel-footer {
        display: block;
    }
}

.panel-toolbar-footer {
    .panel-footer {
        margin-top: 15px;
        padding: 5px 10px;

        & > * {
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }

        &:hover > * {
            opacity: 0.9;
        }
    }

}

// PANEL NESTED
.panel-nested {
    .panel-body{
        padding: 0 15px;
    }
}
.panel-group .panel+.panel {
    margin-top: 20px;
}

.panel-group .panel-nested .panel-nested+.panel-nested{
    margin-top: 0;
}