// Modal
// --------------------------------------------------

@media screen and (min-width: 768px) {
    .modal-dialog {
        min-width: 750px;
        width: 40%;
    }
}

.modal-body {
    max-height: 500px;
    overflow: auto;
}