// Dashboard section
// --------------------------------------------------
.pum-dashboard {
    padding: 0 0.6%;
}

// Widgets
// --------------------------------------------------
    .pum-dash_widget_wrapper {
        min-width: 305px;

        &.pum-dash_widget_square {
            min-width: 205px;
        }
    }

        .pum-dash_widget {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0 0 15px 0;
            padding: 12px;
            width: 100%;
            height: 160px;
            border-width: 0;
            border-radius: 2px;
            background-color: #EEE;
            color: #999;


            & h3 {
                position: absolute;
                right: 6px;
                bottom: 3px;
                z-index: 2;
                text-align: right;
                font-size: 1.7em;
                word-wrap: break-word;
                word-break: break-word;
                cursor: default;
            }

            & .widget-icon {
                position: absolute;
                top: 4%;
                bottom: 10px;
                left: -50px;
                color: #D9D9D9;
                font-size: 14.5em;
            }

            &:hover {
                text-decoration: none;
            }

            & big {
                position: absolute;
                top: 0;
                right: 10px;
                bottom: 25px;
                z-index: 2;
                width: auto;
                text-align: right;
                font-size: 10em;
                line-height: 1.1;
            }

            &:hover {
                // -webkit-transform: scale(1.02);
            }
        }

        .pum-dash_widget_shortlink {
            @include transition(all .15s ease-in);

            &:hover {
                @include scale(1.02, 1.02);
            }
        }

        a.pum-dash_widget,
        a.pum-dash_widget:hover,
        a.pum-dash_widget:hover > * {
            cursor: pointer;
        }

.widget-icon-title {
    & h3 {
        right: 9px;
        bottom: 7px;
        font-size: 3em;
        line-height: 1;
    }

    & .widget-icon {
        @include transition (all .15s ease-in);
        color: #D9D9D9;
    }
}

// DATE WIDGET
.pum-date_widget {
    > * {
        cursor: default;
    }

    .month {
        margin: 0;
        padding: 0;
        color: $global-color-pomegranate;
        text-align: center;
        font-weight: bold;
        font-size: 2.1em;
        line-height: 1;
    }
    .day {
        margin: 0;
        padding: 0;
        color: $global-color-wetasphalt;
        text-align: center;
        font-weight: bold;
        font-size: 8em;
        line-height: 0.9;
    }
    .hour {
        text-align: center;
        font-size: 1.1em;
    }
}

// LOG WIDGET
.pum-log_widget {
    .widget-icon,
    &:hover .widget-icon {
        color: #E9E9E9;
    }

    .nav-pills {
        position: absolute;
        bottom: 11%;
        left: 5%;
        z-index: 20;

        a {
            padding: 2px 6px;
        }
    }

    .tab-pane {
        position: absolute;
        top: 1%;
        right: 1%;
        bottom: 17%;
        left: 1%;
        z-index: 10;
        overflow: auto;
        color: #444;
        font-size: 0.9em;
        cursor: default;

        & li {
            padding: 1px 0;
        }
    }

    .label {
        vertical-align: middle;
    }
}