{% extends "PumAppBundle::base.html.twig" %}

{% set pum_color_scheme = 'darkgrass' %}

{% block javascript %}
    <script type="text/javascript">
        $(function () {
            $("#_username").focus();
        });
    </script>
{% endblock %}

{% block body %}
    <div class="pum-login">
        <div class="text-center">
            <img src="{{ asset('bundles/pumapp/img/pum-logo.svg') }}" alt="PŪM" width="100%" />
        </div>
        <hr />
        {% form_theme form 'PumAppBundle:Form:login.html.twig' %}
        {{ form(form, {action: path('app_security_loginCheck')}) }}
        <p class="text-center text-baseline text-muted">Proudly powered by <a class="pum-scheme-text_colored" href="http://www.pum.web">Pūm</a></p>
    </div>
{% endblock %}
