{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "group_create" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('ww.users.groups.title'|trans({}, 'pum'), null, null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_usergroup_list'),
                text: 'ww.users.usergroups.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'ww.users.groups.create.breadcrumb'|trans({}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-4 col-offset-auto">
            {{ form(form, {action: path('ww_group_create')}) }}
        </div>
    </div>
{% endblock %}
