{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "group_list" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Groups', 'Edit group "' ~ group.name ~ '"', null, [
            {
                href: path('ww_homepage'),
                text: 'Dashboard'
            },
            {
                href: path('ww_group_list'),
                text: 'Users'
            },
            {
                text: 'Edit group "' ~ group.name ~ '"'
            }
        ]) }}
    </div>
    <div class="row">
        <div class="col-lg-8 col-offset-auto">
            {{ form(form, {action: path('ww_group_edit', {id: group.id})}) }}
        </div>
    </div>
{% endblock %}
