{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "projects" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('ww_homepage') }}">Homepage</a> <span class="divider">/</span></li>
        <li class="active">Projects</li>
    </ul>
	<h2>
        Projects
        <small class="btn-group pull-right">
            <a class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> Create</a>
        </small>
    </h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Beams</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        {{ project.name }}
                    </td>
                    <td>
                        {% for beam in project.beams %}
                            {{ beam.name }}<br />
                        {% endfor %}
                    <td>
                        <a class="btn" href="#"><i class="icon-eye-open"></i> View</a>
                </tr>
            {% else %}
                <tr class="info">
                    <td colspan="2"><em>No beam found. <a href="#">Create a new beam</a></td>
                </em>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
