{# PRICE #}
{% block field_type_price_default %}
    {% if (value is empty) or (value.value is empty and value.currency is empty) %}
        <span class="val-empty">vide</span>
    {% else %}
        {{ value.value|number_format }} {{ value.currency }}
    {% endif %}
{% endblock %}
