<html>
    <head>
    </head>
    <body>
    <p>Bonjour {{ user.fullname }}, et bienvenue sur Pum!</p>
    <br/>
    <p>Voici vos informations de connexion :</p>
        <p>Login : {{ user.username }}</p>
        <p>Mot de passe : {{ pwd }}</p>
    <br/>
    <p>Vous pouvez les changer à tout moment dans l'administration des utilisateurs de Pum!</p>
    </body>
</html>
