// Color Scheme
// --------------------------------------------------
@mixin pum-color-scheme($colorname, $color) {
    $color-light: lighten($color, 6%);
    $color-dark: darken($color, 6%);

    $temp_light: lighten($color, 40%);
    $temp_remove: 0;
    @if $temp_light == #fff {
        $temp_remove: 15%;
        $temp_light: lighten($color, 25%);
    }

    body.pum-scheme-#{$colorname} {
        ::selection {
            background: transparentize($color, 0.8);
        }
        ::-moz-selection {
            background: transparentize($color, 0.8);
        }

        .pum-subsidebar {
            background-color: $color;
        }

        .pum-subsidebar a:hover {
            color: $color;
        }

        .pum-subsidebar .nav a:hover .badge {
            background-color: transparentize($color, 0.2);
        }

        .pum-core-sidebar {
            border-color: $color;
        }

        // Background
        .pum-scheme-bg_colored {
            background-color: $color;
            color: #FFF;
        }
        .pum-scheme-bg_colored-light {
            background-color: $color_light;
            color: #FFF;
        }
        .pum-scheme-bg_colored-muted {
            background-color: $temp_light;
            color: $color;
        }

        // Text
        .pum-scheme-text_colored {
            color: $color;
        }
        .pum-scheme-text_colored-light {
            color: $color_light;
        }
        .pum-scheme-text_colored-muted {
            color: transparentize($color_light, .5);
        }

        .pum-scheme-text_shadow {
            text-shadow: 1px 1px 0px transparentize($color, .5);
        }

        // Link
        a {
            &.pum-scheme-link-primary {
                color: $color;

                &:hover {
                    color: $color-light;
                }
            }

            &.pum-scheme-link-inverse {
                color: $text-color-gray-normal;

                &:hover {
                    color: $color;
                }
            }
        }

        // Buttons
        .pum-scheme-btn-primary {
            border-color: $color;
            background-color: $color;
            color: #FFF;

            &:hover, &:focus, &:active, &.active {
                border-color: $color-dark;
                background-color: $color-dark;
                color: #FFF;
            }
        }

        .pum-scheme-btn-light {
            border-color: $temp_light;
            background-color: $temp_light;
            color: $color-light;

            &:hover,
            &:focus,
            &:active,
            &.active {
                border-color: $color;
                color: $color;
            }
        }

        .pum-scheme-btn-transparent {
            border-color: transparentize($color, .85);
            background-color: transparent;
            color: $color-light;

            &:hover,
            &:focus,
            &:active,
            &.active {
                border-color: $temp_light;
                background-color: $temp_light;
                color: $color;
            }
        }

        .pum-scheme-btn-transparentlight {
            border-color: transparentize($color, .9);
            background-color: transparentize($color, .9);
            color: $color;

            &:hover,
            &:focus,
            &:active,
            &.active {
                border-color: transparentize($color, 0.8);
                background-color: transparentize($color, 0.8);
                color: $color;
            }
        }

        // Jumbotron
        .pum-scheme-jumbotron {
            background-color: transparentize($temp_light, .7);
        }


        // Badges
        .pum-scheme-badge-primary {
            @extend .pum-scheme-btn-primary;
        }

        // Separator
        hr.pum-scheme-separator-primary {
            border-color: $color;
        }

        // Panel
        a.accordion-toggle.pum-scheme-toggle-primary {
            color: lighten($color-light, 6%);

            &:hover {
                color: lighten($color-light, 12%);
            }

            &.collapsed {
                color: darken($color-dark, 6%);
                &:hover {
                    color: $color;
                }
            }
        }

        // Pager
        .pagination {
            li:not(.disabled):not(.active) a {
                color: $color;
            }

            & > .active {
                & > a,
                & > span,
                & > a:hover,
                & > span:hover,
                & > a:focus,
                & > span:focus {
                    background-color: $color;
                    border-color: $color;
                }
            }
        }
    }

    // SPECIFIC
    // --------

    // Text color
    .pum-scheme-colored-#{$colorname} {
        color: $color;
    }

    .pum-scheme-colored-#{$colorname} code,
    code.pum-scheme-colored-#{$colorname} {
        @if $colorname == carrot {
            background-color: lighten($color, 44%);
            color: $color;
        } @else {
            background-color: lighten($color, 49%);
            color: lighten($color, 10%);
        }
    }

    // Background-color
    .pum-scheme-bg_colored-#{$colorname} { background-color: $color; }
    .pum-scheme-bg_colored-#{$colorname}-white {
        @extend .pum-scheme-bg_colored-#{$colorname};
        color: #FFF;
    }

    // Link
    a.pum-scheme-link-#{$colorname} {
        color: $color;

        &:hover {
            color: $color-light;
        }
    }

    // Buttons
    .pum-scheme-btn-#{$colorname} {
        border-color: $color;
        background-color: $color;
        color: #FFF;

        &:hover, &:focus, &:active, &.active {
            border-color: $color-dark;
            background-color: $color-dark;
            color: #FFF;
        }
    }

    // Dashboard Widget
    .pum-scheme-widget-#{$colorname} {
        border-color: transparentize(lighten($color, 20%-$temp_remove), .93);
        background-color: lighten($color, 40%-$temp_remove);
        color: lighten($color, 15%-$temp_remove);

        & .pumicon {
            color: lighten($color, 35%-$temp_remove);
        }

        &:hover {
            color: lighten($color, 20%-$temp_remove);

            & .pumicon {
                color: lighten($color, 30%-$temp_remove);;
            }
        }
    }

    // Table
    .table>tbody>tr>td.pum-scheme-cell-#{$colorname},
    .table>tbody>tr>th.pum-scheme-cell-#{$colorname},
    .table>thead>tr>th.pum-scheme-cell-#{$colorname} {
        background-color: lighten($color, 45%);
        color: $color;

        & .pumicon {
            color: lighten($color, 35%);
        }
    }

    // Separator
    hr.pum-scheme-separator-#{$colorname} {
        border-color: $color;
    }
    // Sidebar specific
    .pum-core-sidebar a.pum-scheme-#{$colorname} {
        color: $color-light;
    }
    .pum-core-sidebar a.pum-scheme-#{$colorname}:hover,
    .pum-core-sidebar a.pum-scheme-#{$colorname}.active,
    .pum-core-sidebar a.pum-scheme-#{$colorname}:hover strong {
        background-color: $color;
        color: lighten($color, 45%);
    }
    .pum-core-sidebar a.pum-scheme-#{$colorname}.active:hover,
    .pum-core-sidebar a.pum-scheme-#{$colorname}.active:hover strong {
        background-color: $color-light;
    }


    // Badges
    .pum-scheme-badge-primary-#{$colorname} {
        background-color: $color;
    }

    // Big Badge
    .pum-scheme-bigbadge-#{$colorname} {
        color: $color;
    }

    // Labels
    .pum-scheme-label-#{$colorname} {
        background-color: $color;
    }

    // Panel
    body.pum-scheme-#{$colorname} .pum-scheme-panel,
    .pum-scheme-panel-#{$colorname} {
        border-color: lighten($color-light, 23%-$temp_remove);

        & > .panel-heading {
            border-color: lighten($color-light, 23%-$temp_remove);
            background-color: lighten($color-light, 40%-$temp_remove);
            color: $color-dark;
        }
    }

    // Tabs
    body.pum-scheme-#{$colorname} .pum-scheme-tabs,
    .pum-scheme-tabs-#{$colorname} {
        border-bottom-color: lighten($color-light, 23%-$temp_remove);

        &>li>a {
            color: $color-dark;
        }

        &>li>a:hover {
            border-bottom-color: lighten($color-light, 23%-$temp_remove);
        }

        &>li.active {
            &>a,
            &>a:hover,
            &>a:focus {
                border-color: lighten($color-light, 23%-$temp_remove);
                border-bottom-color: #F9F9F9;
                border-radius: 2px 2px 0 0;
                background-color: lighten($color-light, 40%-$temp_remove);
                color: $color;
            }
        }

        &+.tab-content {
            border-color: transparentize(lighten($color-light, 23%-$temp_remove), 0.7);
        }
    }
}
@include pum-color-scheme('turquoise', $global-color-turquoise);
@include pum-color-scheme('greensea', $global-color-greensea);

@include pum-color-scheme('emerald', $global-color-emerald);
@include pum-color-scheme('nephritis', $global-color-nephritis);

@include pum-color-scheme('peterriver', $global-color-peterriver);
@include pum-color-scheme('belizehole', $global-color-belizehole);

@include pum-color-scheme('amethyst', $global-color-amethyst);
@include pum-color-scheme('wisteria', $global-color-wisteria);

@include pum-color-scheme('wetasphalt', $global-color-wetasphalt);
@include pum-color-scheme('midnightblue', $global-color-midnightblue);

@include pum-color-scheme('sunflower', $global-color-sunflower);
@include pum-color-scheme('orange', $global-color-orange);

@include pum-color-scheme('carrot', $global-color-carrot);
@include pum-color-scheme('pumpkin', $global-color-pumpkin);

@include pum-color-scheme('alizarin', $global-color-alizarin);
@include pum-color-scheme('pomegranate', $global-color-pomegranate);

@include pum-color-scheme('clouds', $global-color-clouds);
@include pum-color-scheme('silver', $global-color-silver);

@include pum-color-scheme('concrete', $global-color-concrete);
@include pum-color-scheme('asbestos', $global-color-asbestos);

@include pum-color-scheme('pink', $global-color-pink);
@include pum-color-scheme('darkpink', $global-color-darkpink);

@include pum-color-scheme('grass', $global-color-grass);
@include pum-color-scheme('darkgrass', $global-color-darkgrass);

@include pum-color-scheme('sanguine', $global-color-sanguine);
@include pum-color-scheme('darksanguine', $global-color-darksanguine);

