// Auto prefix the calc property
@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

// Auto prefix the user-select property
@mixin userselect($value) {
    -moz-user-select   : #{$value};
    -webkit-user-select: #{$value};
    -ms-user-select    : #{$value};
}