// Flat Colors
$global-color-turquoise       : #1ABC9C;
$global-color-greensea        : #16A085;

$global-color-emerald         : #2ECC71;
$global-color-nephritis       : #27AE60;

$global-color-peterriver      : #3498DB;
$global-color-belizehole      : #2980B9;

$global-color-amethyst        : #9B59B6;
$global-color-wisteria        : #8E44AD;

$global-color-wetasphalt      : #34495E;
$global-color-midnightblue    : #2C3E50;

$global-color-sunflower       : #F1C40F;
$global-color-orange          : #F39C12;

$global-color-carrot          : #E67E22;
$global-color-pumpkin         : #D35400;

$global-color-alizarin        : #E74C3C;
$global-color-pomegranate     : #C0392B;

$global-color-clouds          : #ECF0F1;
$global-color-silver          : #BDC3C7;

$global-color-concrete        : #95A5A6;
$global-color-asbestos        : #7F8C8D;

$global-color-pink            : #EC87C0;
$global-color-darkpink        : #D770AD;

$global-color-grass           : #ADD468;
$global-color-darkgrass       : #7DAC49;

$global-color-sanguine        : #FC6E51;
$global-color-darksanguine    : #E9573F;

// Bootstrap Colors
$bootstrap-color-primary      : #428BCA;
$bootstrap-color-success      : #5CB85C;
$bootstrap-color-warning      : #F0AD4E;
$bootstrap-color-danger       : #D9534F;
$bootstrap-color-info         : #5BC0DE;

// Pum Specific Colors
$main-background-color        : #F8F8F8;
$main-text-color              : #495056;
$content-head-background-color: #ECECEC;
$nav-color-gray               : #393F44;
$text-color-gray-muted        : #848F99;
$text-color-gray-normal       : #575F66;
$text-color-gray-dark         : #393F44;

// Re-define
$body-bg                      : $main-background-color;
$text-color                   : $main-text-color;

// Sizes
    // Nav
    $layout-corenav-height        : 60px;

    // Sidebar
    $layout-sidebar-naked-width   : 80px;
    $layout-sidebar-border-width  : 3px;
    $layout-sidebar-width         : $layout-sidebar-naked-width + $layout-sidebar-border-width;
    $layout-sidebar-height        : $layout-sidebar-naked-width;
    $layout-sidebar-line-height   : $layout-sidebar-height - 10px;

    // Subsidebar
    $layout-subsidebar-width      : 218px;

// Typo
$typo-default-fontfamily      : 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
$typo-default-fontsize        : 62.5%;
$typo-default-lineheight      : 1.5;
$typo-default-font            : #{$typo-default-fontsize}/#{$typo-default-lineheight} $typo-default-fontfamily ;

$font-family-sans-serif       : $typo-default-fontfamily;