/*=================================
=            Pūm Forms            =
=================================*/

.form-horizontal {
    & .row hr {
        margin-top: 15px;
        margin-bottom: 5px;
    }
    & fieldset + fieldset {
        margin-top: 30px;
    }
}

.form-group {
    .checkbox-inline {
        font-weight: normal;
    }
}

/*-----  End of Pūm Forms  ------*/

