/* Color Scheme
-------------------------------------------------- */
@mixin pum-color-scheme($colorname, $color) {
    $color-light: lighten($color, 6%);

    body.pum-scheme-#{$colorname} {
        .pum-subsidebar {
            background-color: $color;
        }

        .pum-subsidebar a:hover {
            color: $color;
        }

        .pum-subsidebar .nav a:hover .badge {
            background-color: transparentize($color, 0.2);
        }

        .pum-scheme-text_colored {
            color: $color;
        }

        .pum-core-sidebar {
            border-color: $color;
        }

        .btn-pum-scheme-important {
            background-color: $color;
            color: #FFF;
            border-color: $color;

            &:hover, :focus, :active, .active {
                background-color: $color-light;
                border-color: $color-light;
            }
        }

        .badge-pum-scheme-important {
            @extend .btn-pum-scheme-important;
        }
    }

    .pum-scheme-#{$colorname}-colored { color: $color; }
    .pum-scheme-#{$colorname}-bgcolored { background-color: $color; }
    .pum-scheme-#{$colorname}-bgcoloredw {
        @extend .pum-scheme-#{$colorname}-bgcolored;
        color: #FFF;
    }

    .pum-core-sidebar a.pum-scheme-#{$colorname} { color: $color-light; }
    .pum-core-sidebar a.pum-scheme-#{$colorname}:hover, .pum-core-sidebar a.pum-scheme-#{$colorname}.active, .pum-core-sidebar a.pum-scheme-#{$colorname}:hover strong { background-color: $color; color: lighten($color, 45%); }
    .pum-core-sidebar a.pum-scheme-#{$colorname}.active:hover, .pum-core-sidebar a.pum-scheme-#{$colorname}.active:hover strong { background-color: $color-light; }

    .badge-pum-scheme-#{$colorname}-important {
        background-color: $color;
    }

    .pum-badge-scheme-#{$colorname} {
        color: $color;
    }

    .label-#{$colorname} {
        background-color: $color;
    }
}
@include pum-color-scheme('turquoise', $global-color-turquoise);
@include pum-color-scheme('greensea', $global-color-greensea);
@include pum-color-scheme('emerald', $global-color-emerald);
@include pum-color-scheme('nephritis', $global-color-nephritis);
@include pum-color-scheme('peterriver', $global-color-peterriver);
@include pum-color-scheme('belizehole', $global-color-belizehole);
@include pum-color-scheme('amethyst', $global-color-amethyst);
@include pum-color-scheme('wisteria', $global-color-wisteria);
@include pum-color-scheme('wetasphalt', $global-color-wetasphalt);
@include pum-color-scheme('midnightblue', $global-color-midnightblue);
@include pum-color-scheme('sunflower', $global-color-sunflower);
@include pum-color-scheme('orange', $global-color-orange);
@include pum-color-scheme('carrot', $global-color-carrot);
@include pum-color-scheme('pumpkin', $global-color-pumpkin);
@include pum-color-scheme('alizarin', $global-color-alizarin);
@include pum-color-scheme('pomegranate', $global-color-pomegranate);
@include pum-color-scheme('clouds', $global-color-clouds);
@include pum-color-scheme('silver', $global-color-silver);
@include pum-color-scheme('concrete', $global-color-concrete);
@include pum-color-scheme('asbestos', $global-color-asbestos);