/*=====================================
=            TOGGLE SWITCH            =
=====================================*/
  [class*="pum-toggle-switch"] { display:none }
  // ********** Background:
  .pum-toggle-switch + label {
    position: relative; display: block;
    width: 3.5em; height: 2em;
    cursor: pointer;
    border-radius: 0.7em;
    background: linear-gradient(rgba(#000,0.07),rgba(#fff,0)),#ddd;
    box-shadow:
      0 0.07em 0.1em -0.1em rgba(#000,.4) inset,
      0 0.05em 0.08em -0.01em rgba(#fff,.7)
    ;
    margin: 0 0 0 9%;
  }

  // ********** Switch:
  .pum-toggle-switch + label::after {
    position: absolute; content:'';
    width: 1.3em; height: 1.3em;
    top: 0.35em; left: 0.4em;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    background: linear-gradient(#f5f5f5 10%,#eee);
    box-shadow:
      0 0.1em 0.15em -0.05em rgba(#fff,.9
      ) inset,
      0 0.2em 0.2em -0.12em rgba(#000,.5)
    ;
  }

  // ********** Channel:
  .pum-toggle-switch + label::before {
    position: absolute; content:'';
    width: 2.5em; height: 1.3em;
    top: 0.35em; left: 0.5em;
    border-radius: 0.5em;
    transition: 250ms ease-in-out;
    background: linear-gradient(rgba(#000,0.07),rgba(#fff,0.1)),#d0d0d0;
    box-shadow:
      0 0.08em 0.15em -0.1em rgba(#000,.5) inset,
      0 0.05em 0.08em -0.01em rgba(#fff,.7),
      0 0 0 0 rgba(#4c6,.7) inset
    ;
  }

  .pum-toggle-switch:checked + label::before {
    box-shadow:
      0 0.08em 0.15em -0.1em rgba(#000,.5) inset,
      0 0.05em 0.08em -0.01em rgba(#fff,.7),
      3em 0 0 0 rgba(#4c6,.7) inset
    ;
  }

  .pum-toggle-switch:checked + label::after {
      left: 1.85em;
  }

/*-----  End of TOGGLE SWITCH  ------*/


