/* Body
-------------------------------------------------- */
html, body { height: 100%; }
html {
    font: $typo-default-font;
}
body {
    background-color: $main-background-color;
    color: $main-text-color;
}
a, a strong {
    @include transition(all .15s ease-in);
}

.pull-right + .pull-right {
    margin-right: 1%;
}

.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

.row {
    margin-right: -1%;
    margin-left: -1%;
}

.pum-row {

}
.pum-row-separated {
    position: relative;
    height: 100%;
}

.pum-row > .col-1,
.pum-row > .col-2,
.pum-row > .col-3,
.pum-row > .col-4,
.pum-row > .col-5,
.pum-row > .col-6,
.pum-row > .col-7,
.pum-row > .col-8,
.pum-row > .col-9,
.pum-row > .col-10,
.pum-row > .col-11,
.pum-row > .col-12,
.pum-row > .col-sm-1,
.pum-row > .col-sm-2,
.pum-row > .col-sm-3,
.pum-row > .col-sm-4,
.pum-row > .col-sm-5,
.pum-row > .col-sm-6,
.pum-row > .col-sm-7,
.pum-row > .col-sm-8,
.pum-row > .col-sm-9,
.pum-row > .col-sm-10,
.pum-row > .col-sm-11,
.pum-row > .col-sm-12,
.pum-row > .col-lg-1,
.pum-row > .col-lg-2,
.pum-row > .col-lg-3,
.pum-row > .col-lg-4,
.pum-row > .col-lg-5,
.pum-row > .col-lg-6,
.pum-row > .col-lg-7,
.pum-row > .col-lg-8,
.pum-row > .col-lg-9,
.pum-row > .col-lg-10,
.pum-row > .col-lg-11,
.pum-row > .col-lg-12 {
    display: inline-block;
    float: none;
    padding: 0;
    vertical-align: top;
    font-size: 1.3rem;
}
.pum-row-separated > [class^=col-] {
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom: 2px solid #CCC;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border: none;
    }
}
@media (min-width: 992px) {
    .pum-row-separated > [class^=col-] {
        padding: 0 1%;
        height: 100%;
        border-right: 2px solid #CCC;
        border-bottom: none;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            border: none;
        }
    }
}

.pum-row-separated .col-12, .pum-row-separated .col-sm-12, .pum-row-separated .col-lg-12 {
    padding: 0;
    height: auto;
    border: none;
}

.col-offset-auto {
    float: none;
    margin: auto;
}

/* Bootstrap changes
-------------------------------------------------- */

label.list-group-item:hover, label.list-group-item:focus {
  @extend a.list-group-item:hover, a.list-group-item:focus;
}

/* Typo
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $typo-default-fontfamily;
}
h1, h2, h3 { margin: 0; }
.pum-view_title { line-height: 1.3; font-size: 2em; font-weight: normal; }

h1 small, .h1 small { padding-left: 5px; font-size: 55%; color: #AAA;}

code.text-muted {
    color: #BB7889;
    font-size: 80%;
}

.text-baseline {
    margin: 10px 0 0 0;
    font-size: 70%;
}

/* Container
-------------------------------------------------- */
.pum-core-container {
    padding-top: 60px;
    height: 100%;
}
.pum-core-height {
    position: relative;
    min-height: 100%;
}

/* Content
-------------------------------------------------- */
.pum-core-content {
    @include calc(max-width, 100% - #{$layout-sidebar-width});
    display: inline-block;
    margin-left: $layout-sidebar-width;
    padding: 15px 20px;
    width: 100%;
    height: 100%;

    & .col-lg-12 {
        margin: auto;
        max-width: 1100px;
    }
}

    .pum-row-head {
        position: relative;
        margin: -15px -20px 15px;
        padding: 11px 20px;
        border-bottom: 1px solid darken($content-head-background-color, 2.5%);
        background-color: $content-head-background-color;
        cursor: default;

        & .wbcrmb {
            @include transition(all .15s ease-in);
        }

        & .breadcrumb {
            @include transition(all .15s ease-in);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            margin: 0;
            padding: 0 10px 12px 20px;
            border-radius: 0;
            border-radius: 0 4px 0 0;
            background-color: inherit;
            color: inherit;
            font-size: 85%;
            opacity: 0;
        }

        &:hover {
            & .wbcrmb {
                opacity: 0;
            }

            & .breadcrumb {
                opacity: 1;
            }
        }

        & .pum-action-bar {
            margin-top: 10px;
        }
    }
    .table + .pum-action-bar {
        margin-top: -20px;
        padding: 0 20px;

        & .btn-small {
            margin-top: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }

    .pum-core-content hr {
        border-color: #DDD;
    }

    .thumbnail:hover {
        text-decoration: none;
    }

/* Titles
-------------------------------------------------- */
.h_air_title {
    margin: 12px 0 3px;
    padding: 2px 0;
}
