{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "user_create" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Users', null, null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_user_list'),
                text: 'Users'
            },
            {
                text: 'Create a User'
            }
        ]) }}
    </div>
    <div class="row">
        <div class="col-lg-8 col-offset-auto">
            {{ form(form, {action: path('ww_user_create')}) }}
        </div>
    </div>
{% endblock %}
