{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "users" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Users', 'Manage application users', null, [
            {
                href: path('ww_homepage'),
                text: 'Dashboard'
            },
            {
                href: path('ww_user_list'),
                text: 'Beams'
            }
        ]) }}
    </div>
    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <p>This feature is disabled because <strong>application is not using PUM user manager</strong> feature. If you want to restore feature, <a href="#">do something</a>.</p>
        </div>
    </div>
{% endblock %}
