{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "user_list" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Users', null, null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_user_list'),
                text: 'Users'
            },
            {
                text: 'Editing the User <strong>' ~ user.fullname ~ '</strong>'
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-4 col-offset-auto">
            {{ form(form, {action: path('ww_user_edit', {id: user.id})}) }}
        </div>
    </div>
{% endblock %}
