{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "users" %}

{% block subsidebar %}
    <nav class="pum-subsidebar hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">
                User management
            </li>
            <li{% if sidebar_active == 'user_list' %} class="active"{% endif %}>
                <a href="{{ path('ww_user_list') }}">
                    List of users
                </a>
            </li>
            <li{% if sidebar_active == 'user_create' %} class="active"{% endif %}>
                <a href="{{ path('ww_user_create') }}">
                    Create a user
                </a>
            </li>
            <li class="nav-header">
                Group management
            </li>
            <li{% if sidebar_active == 'group_list' %} class="active"{% endif %}>
                <a href="{{ path('ww_group_list') }}">
                    List of groups
                </a>
            </li>
            <li{% if sidebar_active == 'group_create' %} class="active"{% endif %}>
                <a href="{{ path('ww_group_create') }}">
                    Create a group
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
