{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title(beam.name|title, 'Viewing <strong>' ~ beam.name|title ~'</strong>', null, [
            {
                href: path('pa_homepage'),
                text: pum_project().name|humanize|title
            },
            {
                href: path('pa_beam_show', {beamName: beam.name}),
                text: beam.name|humanize|title
            }
        ]) }}
    </div>
    <h3><i class="pumicon pumicon-arrow-left5"></i> select one to manage {{ beam.name|humanize|title }}'s data</h3>
{% endblock %}
