/*=================================
=            Pūm Forms            =
=================================*/

.form-horizontal {
    & .row hr {
        margin-top: 15px;
        margin-bottom: 5px;
    }
    & fieldset + fieldset {
        margin-top: 30px;
    }
}

.form-group {
    .checkbox-inline {
        font-weight: normal;
    }
}

/* Icon Widget
-------------------------------------------------- */
.label-icon {
    @include transition(all .15s ease-in);
    display: inline-block;
    margin: 0.5% 1.5%;
    width: auto;

    input {
        display: none;
    }

    .pumicon {
        @include transition(all .15s ease-in);
        display: block;
        padding: 10% 0;
        width: 45px;
        height: 45px;
        border: 3px solid rgba(0,0,0,0.1);
        border-radius: 3px;
        text-align: center;

        &.pum-customscheme {
            opacity: 0.5;
            color: #FFF;
        }
    }

    &:hover .pumicon,
    & input:checked ~ .pumicon {
        border-color: transparentize($global-color-darkgrass, 0.75);
        cursor: pointer;

        &.pum-customscheme {
            border-color: rgba(0,0,0,0.1);
            opacity: 1;
        }
    }
}

/* Color Widget
-------------------------------------------------- */
.label-color {
    @include transition(all .15s ease-in);
    display: inline-block;
    margin: 0.5% 1.5%;
    width: auto;

    input {
        display: none;
    }

    .color {
        display: block;
        padding: 5% 0;
        width: 45px;
        height: 45px;
        border: 3px solid rgba(0,0,0,0);
        border-radius: 3px;
        text-align: center;

        & .pumicon {
            @include transition(all .15s ease-in);
            color: #FFF;
            opacity: 0;
        }
        & span {
            display: none;
            visibility: hidden;
        }
    }

    &:hover .color,
    & input:checked ~ .color {
        border-color: rgba(0,0,0,0.1);
        content: '';
        cursor: pointer;
    }

    &:hover .color .pumicon {
        opacity: 0.5;
    }

    & input:checked ~ .color .pumicon {
        opacity: 0.9;
    }
}

/*-----  End of Pūm Forms  ------*/

