/* Table
-------------------------------------------------- */
.table-bordered {
    border: 2px solid #EEE;
    border-top: 0;

    &>thead>tr>th,
    &>tbody>tr>th,
    &>tfoot>tr>th,
    &>thead>tr>td,
    &>tbody>tr>td,
    &>tfoot>tr>td {
        border-color: #EEE;
    }
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #F6F6F6;
}

.table {
    background-color: #FFF;
}
.table thead th {
    background-color: #EEE;
}

.table thead th {
    color: #666;
}

.table.pum-table-valign-middle thead > tr > th,
.table.pum-table-valign-middle thead > tr > td,
.table.pum-table-valign-middle tbody > tr > th,
.table.pum-table-valign-middle tbody > tr > td {
    vertical-align: middle;
}

.text-middle {
    vertical-align: middle !important;
}

.pum-schemed_cell {
    .pum-schemed_cell_wrapper {
        position: relative;
        overflow: hidden;
        margin: -8px;
        padding: inherit;

        & .pumicon {
            position: absolute;
            top: 0;
            right: -8px;
            color: #D9D9D9;
            font-size: 330%;
            line-height: 1;
        }
    }

    &.text-right .pumicon {
        right: auto;
        left: -8px;
    }
}

/* Lists
-------------------------------------------------- */

.list-spaced {
    margin: 0;
    li {
        padding: 3px 0;

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}

/* Buttons
-------------------------------------------------- */
.btn-mini {
    @extend .btn-small;
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn-contextual {
    margin: -15px 0 5px 0;
}
legend + .btn-contextual {
    margin: -65px 0 0 0;

    &.btn-small {
        margin: -55px 0 0 0;
    }
    &.btn-mini {
        margin: -50px 0 0 0;
    }
}

.btn-inverse {
  color: #ffffff;
  background-color: #474949;
  border-color: #474949;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active {
  background-color: #3a3c3c;
  border-color: #2e2f2f;
  color: #FFF;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    opacity: 0.25;
    color: rgba(255,255,255,0.7);
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #474949;
  border-color: #474949;
}

/* Nav
-------------------------------------------------- */
.navbar {
    background-color: rgba(0,0,0,0.05);
}

.navbar-header {
    padding: 0;
}

li+li.nav-header {
    margin-top: 25px;
}

.navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 8px 20px;
    margin: 0;
    width: auto;
    height: auto;
    border: 0;
    border-radius: 0;
}

.navbar-toggle-h {
    left: 80px;
    right: auto;
    // padding: 5px 20px 0;

    .icon-bar {
        display: inline-block;
        width: 2px;
        height: 17px;
        background-color: #FFF;
        border-radius: 1px;
        margin-top: 4px;

        + .icon-bar {
            margin-top: 0;
        }
    }
}

.in .dropdown.open {
    width: 100%;
}

/* Dropdown
-------------------------------------------------- */
.dropdown-fullwidth {
    min-width: 100%;
}

.dropdown-spaced {
    &>li>a {
        padding: 8px;
    }
    .divider {
        margin: 5px 0;
    }
}

/* Tabs
-------------------------------------------------- */
.nav-tabs {
    $navbar_border_color: lighten($global-color-belizehole, 30%);

    border-bottom-color: $navbar_border_color;

    &>li>a {
        color: darken($global-color-belizehole, 15%);

        &:hover {
            border-bottom-color: $navbar_border_color;
        }
    }

    &>li.active>a,
    &>li.active>a:hover,
    &>li.active>a:focus {
        border-color: $navbar_border_color;
        border-bottom-color: #F9F9F9;
        border-radius: 2px 2px 0 0;
        background-color: lighten($global-color-belizehole, 49%);
        color: darken($global-color-belizehole, 3%);
    }
}



form .tab-content .tab-pane {
    padding-top: 15px;
}

/* Separator
-------------------------------------------------- */
hr.separator-unspaced {
    margin: 10px 0;
}

hr.separator-primary {
    border-color: lighten($global-color-belizehole, 30%);
}
/* Alert
-------------------------------------------------- */
.alert {
    border-radius: 2px;

    ul {
        padding-left: 20px;
    }
}

.alert-onlylist ul {
    margin: 0;
}
