/*=================================
=            Pūm Forms            =
=================================*/

.form-horizontal {
    & .row hr {
        margin-top: 15px;
        margin-bottom: 5px;
    }
    & fieldset + fieldset {
        margin-top: 30px;
    }
}

.form-group {
    .checkbox-inline {
        font-weight: normal;
    }
}

.input-group.input-inline {
    .form-control {
        width: auto;
    }
    .input-group-btn {
        display: inline-block;
    }
}

.form-horizontal {
    .form-inline {
        .form-group {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

/* Gmaps
-------------------------------------------------- */
.pum_gmaps_wrap {
    position: relative;
    padding-top: 1%;

    input[data-gmaps_widget] {
        position: absolute;
        z-index: 20;
        margin: 1% 7%;
        width: 50%;
    }

    .pum_gmaps {
        display: block;
        width: 100%;
        min-height: 250px;
    }
}

/* Select in Input Addon
-------------------------------------------------- */
$form-addon-select-size:    33% !default;

.input-group-select {
    width: 100%;

    & .form-control {
        width: 100% - $form-addon-select-size;
    }

    & .input-group-addon {
        position: absolute;
        top: 0;
        padding: 3px;
        width: $form-addon-select-size - 0.05%;
        height: 100%;

        & .form-control {
            width: 100%;
            height: 100%;
        }
    }

    // Right case
    & > .form-control:first-child {
        margin-right: $form-addon-select-size;
    }
    & .form-control + .input-group-addon {
        right: 0;
    }

    // Left case
    & > .input-group-addon + .form-control {
        margin-left: $form-addon-select-size;
    }
    & .input-group-addon:first-child {
        left: 0;
    }
}

/* Icon Widget
-------------------------------------------------- */
.label-icon {
    @include transition(all .15s ease-in);
    display: inline-block;
    margin: 0.5% 1.5%;
    width: auto;

    input {
        display: none;
    }

    .pumicon {
        @include transition(all .15s ease-in);
        display: block;
        padding: 10% 0;
        width: 45px;
        height: 45px;
        border: 3px solid rgba(0,0,0,0.1);
        border-radius: 3px;
        text-align: center;

        &.pum-customscheme {
            color: #FFF;
            opacity: 0.5;
        }
    }

    &:hover .pumicon,
    & input:checked ~ .pumicon {
        border-color: transparentize($global-color-darkgrass, 0.75);
        cursor: pointer;

        &.pum-customscheme {
            border-color: rgba(0,0,0,0.1);
            opacity: 1;
        }
    }
}

/* Color Widget
-------------------------------------------------- */
.label-color {
    @include transition(all .15s ease-in);
    display: inline-block;
    margin: 0.5% 1.5%;
    width: auto;

    input {
        display: none;
    }

    .color {
        display: block;
        padding: 5% 0;
        width: 45px;
        height: 45px;
        border: 3px solid rgba(0,0,0,0);
        border-radius: 3px;
        text-align: center;

        & .pumicon {
            @include transition(all .15s ease-in);
            color: #FFF;
            opacity: 0;
        }
        & span {
            display: none;
            visibility: hidden;
        }
    }

    &:hover .color,
    & input:checked ~ .color {
        border-color: rgba(0,0,0,0.1);
        content: '';
        cursor: pointer;
    }

    &:hover .color .pumicon {
        opacity: 0.5;
    }

    & input:checked ~ .color .pumicon {
        opacity: 0.9;
    }
}

/*-----  End of Pūm Forms  ------*/

