/* Color Scheme
-------------------------------------------------- */
@mixin pum-color-scheme($colorname, $color) {
    $color-light: lighten($color, 6%);
    $color-dark: darken($color, 6%);

    body.pum-scheme-#{$colorname} {
        .pum-subsidebar {
            background-color: $color;
        }

        .pum-subsidebar a:hover {
            color: $color;
        }

        .pum-subsidebar .nav a:hover .badge {
            background-color: transparentize($color, 0.2);
        }

        .pum-scheme-text_colored {
            color: $color;
        }

        .pum-core-sidebar {
            border-color: $color;
        }

        // Buttons
        .pum-scheme-btn-primary {
            border-color: $color;
            background-color: $color;
            color: #FFF;

            &:hover, &:focus, &:active, &.active {
                border-color: $color-dark;
                background-color: $color-dark;
                color: #FFF;
            }
        }

        // Badges
        .pum-scheme-badge-primary {
            @extend .pum-scheme-btn-primary;
        }

        // Separator
        hr.pum-scheme-separator-primary {
            border-color: $color;
        }
    }

    // Text color
    .pum-scheme-colored-#{$colorname} {
        color: $color;
    }
    .pum-scheme-colored-#{$colorname} code,
    code.pum-scheme-colored-#{$colorname} {
        @if $colorname == carrot {
            background-color: lighten($color, 44%);
            color: $color;
        } @else {
            background-color: lighten($color, 49%);
            color: lighten($color, 10%);
        }
    }

    // Background-color
    .pum-scheme-bgcolored-#{$colorname} { background-color: $color; }
    .pum-scheme-bgcoloredw-#{$colorname} {
        @extend .pum-scheme-bgcolored-#{$colorname};
        color: #FFF;
    }

    // Buttons
    .pum-scheme-btn-#{$colorname} {
        border-color: $color;
        background-color: $color;
        color: #FFF;

        &:hover, &:focus, &:active, &.active {
            border-color: $color-dark;
            background-color: $color-dark;
            color: #FFF;
        }
    }

    // Dashboard
    .pum-scheme-widget-#{$colorname} {
        border-color: transparentize(lighten($color, 20%), .93);
        background-color: lighten($color, 40%);
        color: lighten($color, 15%);

        & .pumicon {
            color: lighten($color, 35%);
        }

        &:hover {
            color: lighten($color, 20%);

            & .pumicon {
                color: lighten($color, 30%);;
            }
        }
    }

    // Table
    .table>tbody>tr>td.pum-scheme-cell-#{$colorname},
    .table>tbody>tr>th.pum-scheme-cell-#{$colorname},
    .table>thead>tr>th.pum-scheme-cell-#{$colorname} {
        background-color: lighten($color, 45%);
        color: $color;

        & .pumicon {
            color: lighten($color, 35%);
        }
    }

    // Separator
    hr.pum-scheme-separator-#{$colorname} {
        border-color: $color;
    }
    // Sidebar specific
    .pum-core-sidebar a.pum-scheme-#{$colorname} {
        color: $color-light;
    }
    .pum-core-sidebar a.pum-scheme-#{$colorname}:hover,
    .pum-core-sidebar a.pum-scheme-#{$colorname}.active,
    .pum-core-sidebar a.pum-scheme-#{$colorname}:hover strong {
        background-color: $color;
        color: lighten($color, 45%);
    }
    .pum-core-sidebar a.pum-scheme-#{$colorname}.active:hover,
    .pum-core-sidebar a.pum-scheme-#{$colorname}.active:hover strong {
        background-color: $color-light;
    }


    // Badges
    .pum-scheme-badge-primary-#{$colorname} {
        background-color: $color;
    }

    // Big Badge
    .pum-scheme-bigbadge-#{$colorname} {
        color: $color;
    }

    // Labels
    .pum-scheme-label-#{$colorname} {
        background-color: $color;
    }
}
@include pum-color-scheme('turquoise', $global-color-turquoise);
@include pum-color-scheme('greensea', $global-color-greensea);

@include pum-color-scheme('emerald', $global-color-emerald);
@include pum-color-scheme('nephritis', $global-color-nephritis);

@include pum-color-scheme('peterriver', $global-color-peterriver);
@include pum-color-scheme('belizehole', $global-color-belizehole);

@include pum-color-scheme('amethyst', $global-color-amethyst);
@include pum-color-scheme('wisteria', $global-color-wisteria);

@include pum-color-scheme('wetasphalt', $global-color-wetasphalt);
@include pum-color-scheme('midnightblue', $global-color-midnightblue);

@include pum-color-scheme('sunflower', $global-color-sunflower);
@include pum-color-scheme('orange', $global-color-orange);

@include pum-color-scheme('carrot', $global-color-carrot);
@include pum-color-scheme('pumpkin', $global-color-pumpkin);

@include pum-color-scheme('alizarin', $global-color-alizarin);
@include pum-color-scheme('pomegranate', $global-color-pomegranate);

@include pum-color-scheme('clouds', $global-color-clouds);
@include pum-color-scheme('silver', $global-color-silver);

@include pum-color-scheme('concrete', $global-color-concrete);
@include pum-color-scheme('asbestos', $global-color-asbestos);

@include pum-color-scheme('pink', $global-color-pink);
@include pum-color-scheme('darkpink', $global-color-darkpink);

@include pum-color-scheme('grass', $global-color-grass);
@include pum-color-scheme('darkgrass', $global-color-darkgrass);

@include pum-color-scheme('sanguine', $global-color-sanguine);
@include pum-color-scheme('darksanguine', $global-color-darksanguine);

