{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active ='config' %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a class="btn btn-primary btn-sm" href="{{ path('app_config_edit') }}"><i class="pumicon pumicon-download-3"></i> Edit settings</a>
        </div>
        {{ pum_macros.section_title('Config', 'Edit settings of application', null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                text: 'Config'
            }
        ]) }}
    </div>
    <div class="row">
        <div class="col-lg-6 col-offset-auto">
            settings here
        </div>
    </div>
{% endblock %}

