{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}
    <h2>
        Beams &raquo; {{ beam.name }} &raquo; create definition
        <div class="btn-group pull-right">
            <a class="btn" href="{{ path('ww_beam_edit', {beamName: beam.name}) }}"><i class="icon-chevron-left"></i>Back to definitions</a>
        </div>
    </h2>
    {{form(form)}}
{% endblock %}