{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('New Object', 'Create a new object definition in the beam', 'in ' ~ '<a href="' ~ path('ww_beam_edit', {beamName: beam.name}) ~ '">' ~ beam.name|title ~ '</a>') }}
    </div>
    <div class="row">
        <div class="col-lg-8 col-offset-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
