{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('ww.beams.object.create.title'|trans({}, 'pum'), null, 'ww.beams.object.create.subtitle'|trans({ '%name%':'<a href="' ~ path('ww_beam_edit', {beamName: beam.name}) ~ '">' ~ beam.name|pum_ucfirst ~ '</a>' }, 'pum'), [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_beam_list'),
                text: 'ww.beams.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_beam_edit', {beamName: beam.name}),
                text: beam.name|pum_ucfirst
            },
            {
                text: 'ww.beams.object.create.description'|trans({}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-sm-12 col-offset-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
