{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('New Object', null, 'in the Beam ' ~ '<a href="' ~ path('ww_beam_edit', {beamName: beam.name}) ~ '">' ~ beam.name|humanize|title ~ '</a>', [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_beam_list'),
                text: 'Beams'
            },
            {
                href: path('ww_beam_edit', {beamName: beam.name}),
                text: beam.name|humanize|title
            },
            {
                text: 'Create an Object'
            }
        ]) }}
    </div>
    <div class="row">
        <div class="col-lg-8 col-offset-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
