{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title(object.name|title, 'Edit Object') }}
    </div>
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            {{form(form)}}
        </div>
    </div>
{% endblock %}
