{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_beam_edit', {beamName: beam.name}) }}" class="btn btn-default">Back to beam</a>
        </div>
        {{ pum_macros.section_title('Object Definition', null, 'in the Beam ' ~ '<a href="' ~ path('ww_beam_edit', {beamName: beam.name}) ~ '">' ~ beam.name|humanize|title ~ '</a>', [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_beam_list'),
                text: 'Beams'
            },
            {
                href: path('ww_beam_edit', {beamName: beam.name}),
                text: beam.name|humanize|title
            },
            {
                text: 'Editing the Object <strong>' ~ object.name|humanize|title ~ '</strong>'
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-8 col-offset-auto">
            {{form(form)}}
        </div>
    </div>
{% endblock %}
