{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Import a new Object', null, 'in the Beam ' ~ '<a href="' ~ path('ww_beam_edit', {beamName: beam.name}) ~ '">' ~ beam.aliasName|pum_ucfirst ~ '</a>', [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_beam_list'),
                text: 'Beams'
            },
            {
                href: path('ww_beam_edit', {beamName: beam.name}),
                text: beam.aliasName|pum_ucfirst
            },
            {
                text: 'Import an Object'
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-8 col-offset-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
