// Sidebar
// --------------------------------------------------
.pum-core-sidebar {
    position: absolute;
    left: 0;
    display: inline-block;
    // width: 4.202%;
    width: $layout-sidebar-width;
    height: 100%;
    border-right: $layout-sidebar-border-width solid transparentize($main-background-color, 0.3);
    background-color: $nav-color-gray;
    color: #E5EFE6;
    vertical-align: top;

    & ul {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        list-style-type: none;
    }

    & a {
        display: block;
        width: 100%;
        height: $layout-sidebar-width - $layout-sidebar-border-width;
        color: #555356;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: inherit;

            & .pumicon {
                -webkit-animation: spinAround 2s ease-in infinite;
                -moz-animation: spinAround 2s ease-in infinite;
                animation: spinAround 2s ease-in infinite;
            }

            & strong {
                z-index: 1000;
                /*display: block;*/
                visibility: visible;
                opacity: 1;
            }
        }

        & > div {
            position: relative;
            width: 100%;
            height: 100%;
            line-height: $layout-sidebar-height;

            & strong {
                position: absolute;
                top: 0;
                left: 100%;
                visibility: hidden;
                padding: 7px 10px;
                min-width: 100px;
                width: auto;
                height: $layout-sidebar-height;
                border-radius: 2px;
                white-space: nowrap;
                font-weight: normal;
                font-size: 100%;
                line-height: $layout-sidebar-line-height;
                opacity: 0;
            }
        }

            & .fx-icon {
                display: block;
            }

            & .pumicon {
                padding: 1%;
                vertical-align: middle;
                font-size: 330%;
            }
    }

    & .pum-sidebar-bottom {
        position: absolute;
        right: 0;
        bottom: 1%;
        left: 0;
        height: auto;

        & a {
            height: auto;
            font-size: 80%;

            &:hover {
                color: #F0F0F0;
            }

            & .pumicon {
                vertical-align: text-top;
                font-size: 100%;
            }
        }
    }
}

// Sub Sidebar
// --------------------------------------------------
.pum-subsidebar {
    position: absolute;
    left: $layout-sidebar-width;
    display: inline-block;
    overflow:auto;
    padding: 0.7% 0.4%;
    width: $layout-subsidebar-width;
    height: 100%;
    border-right: 3px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    vertical-align: top;

    & + .pum-core-content {
        @include calc(max-width, 100% - #{$layout-subsidebar-width} - #{$layout-sidebar-width});
        margin-left: $layout-sidebar-width + $layout-subsidebar-width;
        width: 100%;
        border: none;
    }

    & .nav-header {
        @include text-shadow(none);
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        border-bottom: 1px solid transparentize(#FFF, 0.8);
        color: transparentize(#FFF, 0.6);
        font-weight: normal;
    }

    & .nav a {
        padding: 5px 10px;
        color: #FFF;
    }

    & .nav > li.active {
        & a, & a:hover, & a:focus {
            background-color: rgba(0,0,0,0.2);
            color: #FFF;
        }
    }

    & .nav .badge {
        background-color: rgba(255,255,255,0.1);
    }
}

// Collapse
// --------------------------------------------------
.pum-core-sidebar {
    & + .pum-core-content {
        @include transition(margin-left .15s ease-in, width .15s ease-in);
    }

    &.collapsing {
        max-width: $layout-sidebar-width;
        width: $layout-sidebar-width !important;
    }

    &.collapse {
        display: none;
        width: 0 !important;

        & + .pum-core-content,
        & + .pum-subsidebar + .pum-core-content {
            margin-left: 0;
            max-width: 100%;
        }
    }

    &.in {
        width: $layout-sidebar-width !important;
    }

    &.collapsing + .pum-core-content,
    &.collapsing + .pum-subsidebar + .pum-core-content,
    &.in + .pum-core-content,
    &.in + .pum-subsidebar + .pum-core-content {
        overflow: hidden;
    }
}

.pum-subsidebar {
    &.collapsing {
        max-width: $layout-subsidebar-width;
        width: $layout-subsidebar-width !important;
    }

    &.collapse {
        left: 0;
        display: none;
        width: 0 !important;
    }

    &.in {
        width: $layout-subsidebar-width !important;
    }
}

@media screen and (min-width: 768px) {
    .pum-core-sidebar.collapse {
        display: inline-block;
        width: $layout-sidebar-width !important;

        & + .pum-core-content {
            @include calc(max-width, 100% - #{$layout-sidebar-width});
            margin-left: $layout-sidebar-width;
        }

        & + .pum-subsidebar + .pum-core-content {
            @include calc(max-width, 100% - #{$layout-subsidebar-width} - #{$layout-sidebar-width});
            margin-left: $layout-sidebar-width + $layout-subsidebar-width;
        }
    }

    .pum-subsidebar.collapse {
        left: $layout-sidebar-width;
        display: inline-block;
        width: $layout-subsidebar-width !important;
    }
}

@media screen and (min-width: 2175px) {
    .pum-core-sidebar.collapse {
        display: inline-block;
        width: $layout-sidebar-width !important;

        & + .pum-core-content {
            @include calc(max-width, 100% - #{$layout-sidebar-width});
            margin-left: $layout-sidebar-width;
        }

        & + .pum-subsidebar + .pum-core-content {
            @include calc(max-width, 100% - #{$layout-subsidebar-width} - #{$layout-sidebar-width});
            margin-left: $layout-sidebar-width + $layout-subsidebar-width;
        }
    }
}
