{% extends "PumProjectAdminBundle::layout.html.twig" %}

{% set menu_active = 'vars' %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a class="btn btn-sm" href="{{ path('pa_vars_index') }}"><i class="pumicon pumicon-back"></i> {{ 'pa.vars.top_btn_back'|trans({}, 'pum') }}</a>
        </div>
        {{ pum_macros.section_title('pa.vars.create.title'|trans({}, 'pum'), 'pa.vars.create.description'|trans({}, 'pum'), null, [
            {
                href: path('pa_vars_index'),
                text: 'pa.vars.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'pa.vars.create.breadcrumb'|trans({}, 'pum')
            }
        ]) }}
    </div>

    <div class="row">
        <div class="col-lg-6 col-offset-auto">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
