{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}
    <ul>
        {% for beam in beams %}
            <li><a href="{{ path('ww_object_definition_list', {beamName: beam.name}) }}">Object definitions</a></li>
        {% endfor %}
    </ul>
{% endblock %}
