{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}

    <h2>
        Welcome! Later here, a dashboard
    </h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Element</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Projects
                </td>
                <td>
                    <a class="btn" href="{{ path('ww_project_list') }}"><i class="icon-eye-open"></i> View</a>
                </td>
            </tr>
            <tr>
                <td>
                    Beams
                </td>
                <td>
                    <a class="btn" href="{{ path('ww_beam_list') }}"><i class="icon-eye-open"></i> View</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
