{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}

    <div class="pum-row-head">
        {{ pum_macros.section_title('Dashboard', 'Watch everything') }}
    </div>

    <div class="row">
        <div class="col-lg-2 col-offset-5">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Element</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Projects
                        </td>
                        <td class="text-center">
                            <a class="btn btn-small" href="{{ path('ww_project_list') }}"><i class="icon-eye-open"></i> View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Beams
                        </td>
                        <td class="text-center">
                            <a class="btn btn-small" href="{{ path('ww_beam_list') }}"><i class="icon-eye-open"></i> View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
