{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}

    <h2>
        Pum
    </h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Element</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Projects
                </td>
                <td>
                    <a class="btn" href="{{ path('ww_project_definition_list') }}"><i class="icon-eye-open"></i> View</a>
                </td>
            </tr>
            <tr>
                <td>
                    Beams
                </td>
                <td>
                    <a class="btn" href="{{ path('ww_beam_definition_list') }}"><i class="icon-eye-open"></i> View</a>
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
