/* Content
-------------------------------------------------- */
.pum-core-content {
    @include calc(max-width, 100% - #{$layout-sidebar-width});
    display: inline-block;
    margin-left: $layout-sidebar-width;
    padding: 15px 20px;
    width: 100%;
    height: 100%;

    & .col-lg-12 {
        margin: auto;
        max-width: 1100px;
    }

    & .col-md-12 {
        margin: auto;
        max-width: 960px;
    }

    & .col-sm-12 {
        margin: auto;
        max-width: 768px;
    }
}

    .pum-row-head {
        position: relative;
        margin: -15px -20px 15px;
        padding: 11px 20px;
        border-bottom: 1px solid darken($content-head-background-color, 2.5%);
        background-color: $content-head-background-color;
        cursor: default;

        & .wbcrmb {
            @include transition(all .15s ease-in);
        }

        & .breadcrumb {
            @include transition(all .15s ease-in);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            margin: 0;
            padding: 0 10px 12px 20px;
            border-radius: 0;
            border-radius: 0 4px 0 0;
            background-color: inherit;
            color: inherit;
            font-size: 85%;
            opacity: 0;
        }

        &:hover {
            & .wbcrmb {
                opacity: 0;
            }

            & .breadcrumb {
                opacity: 1;
            }
        }

        & .pum-action-bar {
            margin-top: 10px;
        }
    }
    .table + .pum-action-bar {
        margin-top: -20px;
        padding: 0 20px;

        & .btn-small {
            margin-top: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 12px;
        }
    }

    .pum-core-content hr {
        border-color: #DDD;
    }

    .thumbnail:hover {
        text-decoration: none;
    }

    .val-empty {
        opacity: 0.55;
        font-size: 90%;

        &:before {
            content: "< ";
            opacity: 0.4;
        }
        &:after {
            content: " >";
            opacity: 0.4;
        }
    }