.pum-dashboard {
    padding: 0 0.6%;
}

/* Widgets
-------------------------------------------------- */
    .pum-dash_widget_wrapper {
        min-width: 305px;
    }

        .pum-dash_widget {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0 0 15px 0;
            padding: 10px;
            width: 100%;
            height: 140px;
            border-width: 2px;
            border-style: solid;
            border-color: #EAEAEA;
            border-radius: 2px;
            background-color: #EEE;
            color: #999;
            cursor: pointer;

            & h3 {
                position: absolute;
                right: 3px;
                bottom: 1px;
                z-index: 2;
                text-align: right;
                font-size: 140%;
            }

            & .pumicon {
                @include transition(all .15s ease-in);
                position: absolute;
                top: -12%;
                bottom: 10px;
                left: -50px;
                color: #D9D9D9;
                font-size: 1350%;
            }

            & big {
                position: absolute;
                top: 0;
                right: 10px;
                bottom: 25px;
                z-index: 2;
                width: 45%;
                text-align: center;
                font-size: 800%;
                line-height: 1.1;
            }

            &:hover {
                color: #888;

                & .pumicon {
                    color: #DDD;
                }
            }
        }