{% extends "PumProjectAdminBundle::layout.html.twig" %}

{% if beam is not null %}
    {% set menu_active = beam.name %}
    {% set beam_name = beam|pum_humanize_beam_name %}
    {% set item_name = beam|pum_humanize_beam_name %}
{% else %}
    {% set item_name = pum_projectName()|pum_humanize_project_name %}
{% endif %}

{% block content %}
    {% if app.request.xmlHttpRequest %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="pum-row-head">
                {{ pum_macros.section_title('pa.object.search.count.title'|trans({'%name%': item_name, '%search%': app.request.query.get('q')}, "pum"), 'pa.object.search.count.description'|trans({'%name%': item_name, '%search%': app.request.query.get('q')}, 'pum')) }}
            </div>
        </div>
        <div class="modal-body">
            {% include 'PumProjectAdminBundle:Search:count.content.html.twig' %}
        </div>
    {% else %}
        <div class="pum-row-head">
            <h1 class="pum-view_title pum-scheme-text_colored">
                {{ 'pa.object.search.count.title'|trans({'%name%': item_name, '%search%': app.request.query.get('q')}, "pum") }}
            </h1>
            <small class="text-muted">{{ 'pa.object.search.count.description'|trans({'%name%': item_name, '%search%': app.request.query.get('q')}, 'pum') }}</small>
        </div>

        {% include 'PumProjectAdminBundle:Search:count.content.html.twig' %}
    {% endif %}
{% endblock %}
