{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active  = beam.name %}
{% set object_name  = object_definition|pum_humanize_object_name %}
{% set beam_name    = beam|pum_humanize_beam_name %}
{% set project_name = pum_project()|pum_humanize_project_name %}

{% set tableview_current_name = null %}
{% if table_view.name != constant('Pum\\Core\\Definition\\View\\TableView::DEFAULT_NAME') %}
    {% set tableview_current_name = table_view.name %}
{% endif %}

{% set fromUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) ~ '?' ~ app.request.query.all|sort|merge({page: null})|url_encode %}

{% block content %}
    {% if app.request.xmlHttpRequest %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="pum-row-head">
                {{ pum_macros.section_title('pa.object.search.title'|transchoice(count, {'%count%':count, '%name%':object_name, '%search%':app.request.query.get('q')}, "pum"), null, 'pa.object.subtitle'|trans({'%name%':'<strong>' ~ beam_name ~'</strong>'}, "pum"), [
                    {
                        href: path('pa_homepage'),
                        text: project_name
                    },
                    {
                        href: path('pa_beam_show', {beamName: beam.name}),
                        text: beam_name
                    },
                    {
                        href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                        text: object_name
                    },
                    {
                        text: 'pa.object.search.description'|trans({'%name%':object_name, '%search%':app.request.query.get('q')}, "pum")
                    }
                ]) }}
            </div>
        </div>
        <div class="modal-body">
            {{ pum_macros.alertMessages() }}
            {% if table_view.template %}
                {% include table_view.template ignore missing %}
            {% else %}
                {% include 'PumProjectAdminBundle:Search:list.content.html.twig' %}
            {% endif %}
        </div>
    {% else %}
        <div class="pum-row-head">
            {{ pum_macros.section_title('pa.object.search.title'|transchoice(count, {'%count%':count, '%name%':object_name, '%search%':app.request.query.get('q')}, "pum"), null, 'pa.object.subtitle'|trans({'%name%':'<strong>' ~ beam_name ~'</strong>'}, "pum"), [
                {
                    href: path('pa_homepage'),
                    text: project_name
                },
                {
                    href: path('pa_beam_show', {beamName: beam.name}),
                    text: beam_name
                },
                {
                    href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                    text: object_name
                },
                {
                    text: 'pa.object.search.description'|trans({'%name%':object_name, '%search%':app.request.query.get('q')}, "pum")
                }
            ]) }}
        </div>

        {{ pum_macros.alertMessages() }}

        {% if table_view.template %}
            {% include table_view.template ignore missing %}
        {% else %}
            {% include 'PumProjectAdminBundle:Search:list.content.html.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}
