{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Edit Relation', '', 'in ' ~ beam.name|title) }}
    </div>
    <div class="row">
        <div class="col-lg-8 col-offset-auto">
            {{form(form)}}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var objects = [];
        {% for object in objects %}
            objects.push('{{ object }}');
        {% endfor %}
        $( "#ww_relation_from" ).autocomplete({
         source: objects
        });
        $( "#ww_relation_to" ).autocomplete({
         source: objects
        });
    </script>
{% endblock %}
