{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Relation', null, 'in the Beam ' ~ '<a href="' ~ path('ww_beam_edit', {beamName: beam.name}) ~ '">' ~ beam.name|humanize|title ~ '</a>', [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_beam_list'),
                text: 'Beams'
            },
            {
                href: path('ww_beam_edit', {beamName: beam.name}),
                text: beam.name|humanize|title
            },
            {
                text: 'Editing Relation'
            }
        ]) }}
    </div>
    <div class="row">
        <div class="col-lg-4 col-offset-auto">
            {{form(form)}}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var objects = [];
        {% for object in objects %}
            objects.push('{{ object }}');
        {% endfor %}
        $( "#ww_relation_from" ).autocomplete({
         source: objects
        });
        $( "#ww_relation_to" ).autocomplete({
         source: objects
        });
    </script>
{% endblock %}
