// Config vars
// --------------------------------------------------
@import "_pum.config.scss";

// Pum Mixins
// --------------------------------------------------
@import "partials/_pum.mixins.scss";

// Compass CSS3
// --------------------------------------------------
@import "compass/css3";

/* Pum Icons
-------------------------------------------------- */
@import "partials/_pum.icon.scss";

/* Bootstrap
-------------------------------------------------- */
@import "_bootstrap.scss";

/* Externals
-------------------------------------------------- */
// @import "partials/_pum.fuelux.scss";
@import "partials/_pum.external.scss";

// Fonts
// --------------------------------------------------
@import url('http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=latin,latin-ext');


/* Partials
-------------------------------------------------- */

@import "partials/_pum.core.scss";

@import "partials/_pum.btnbadges.scss";

@import "partials/_pum.topnav.scss";

@import "partials/_pum.sidebar.scss";

@import "partials/_pum.forms.scss";

/* Modules
-------------------------------------------------- */
@import "modules/_pum.dashboard.scss";
@import "modules/_pum.beams.scss";
@import "modules/_pum.projects.scss";

/* Color Scheme
-------------------------------------------------- */
@import "partials/_pum.scheme.scss";

/* Typo
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $typo-default-fontfamily;
}
h1, h2, h3 { margin: 0; }
.pum-view_title { line-height: 1.3; font-size: 2em; font-weight: normal; }

h1 small, .h1 small { padding-left: 5px; font-size: 55%; color: #AAA;}

/* Tables
-------------------------------------------------- */
.table {
    background-color: #FFF;
}
.table thead th {
    background-color: #EEE;
}